<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/Final_MetroCommuteTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final: Metro Commute Time in SQL

Import the following packages to be used for this notebook.

In [ ]:
import pandas as pd
import sqlite3

Code Chunk #1:

In [ ]:
#Making a connection
connect_db = sqlite3.connect("/content/sample_data/MetroCommute.db")

#SQL Statement
df = pd.read_sql_query(
                        "SELECT name FROM sqlite_master WHERE type='table'"
                          , connect_db)
#Closing the connection
connect_db.close()

df.head()

Code Chunk #2:

In [ ]:
#Making a connection
connect_db = sqlite3.connect("/content/sample_data/MetroCommute.db")

#SQL Statement
df = pd.read_sql_query(
                        "PRAGMA table_info(Census_LocationInfo)"
                          , connect_db)
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head(10)

Code Chunk #3:

In [ ]:
#Making a connection
connect_db = sqlite3.connect("/content/sample_data/MetroCommute.db")

#SQL Statement
df = pd.read_sql_query("""
                          SELECT Name
                          FROM CitiesAndTowns
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to get shape
df.shape

Code Chunk #4:

In [ ]:
#Making a connection
connect_db = sqlite3.connect("/content/sample_data/MetroCommute.db")

#SQL Statement
df = pd.read_sql_query(""" 
                                SELECT
                                    GEOID, 
                                    NAME, 
                                    STATE,
                                    LAND,
                                    LATITUDE,
                                    LONGITUDE,
                                    TRIM(RTRIM(NAME, REPLACE(Name, ' ','')))||', '||STATE AS City
                                FROM Census_LocationInfo
                                WHERE City IN (SELECT Name FROM CitiesAndTowns)           
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.shape

Code Chunk #5:

In [ ]:
#Making a connection
connect_db = sqlite3.connect("/content/sample_data/MetroCommute.db")

#SQL Statement
df = pd.read_sql_query("""
                            SELECT City, COUNT(City) AS COUNT
                            FROM
                              (
                                SELECT
                                    GEOID, 
                                    NAME, 
                                    STATE,
                                    LAND,
                                    LATITUDE,
                                    LONGITUDE,
                                    TRIM(RTRIM(NAME, REPLACE(Name, ' ','')))||', '||STATE AS City
                                FROM Census_LocationInfo
                                WHERE City IN (SELECT Name FROM CitiesAndTowns) 
                                
                              )
                              GROUP BY City
                              ORDER BY COUNT DESC               
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head()

Code Chunk #6:

In [ ]:
#Making a connection
connect_db = sqlite3.connect("/content/sample_data/MetroCommute.db")

#SQL Statement
df = pd.read_sql_query("""
                          SELECT
                            GEOID, 
                            NAME, 
                            STATE,
                            LAND,
                            LATITUDE,
                            LONGITUDE,
                            TRIM(RTRIM(NAME, REPLACE(Name, ' ','')))||', '||STATE AS City
                        FROM Census_LocationInfo
                        WHERE (NAME NOT LIKE '%CDP') AND (GEOID != '2756698') AND ( City IN (SELECT Name FROM CitiesAndTowns) )             
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.shape

Code Chunk #7:

In [ ]:
#Making a connection
connect_db = sqlite3.connect("/content/sample_data/MetroCommute.db")

#SQL Statement
df = pd.read_sql_query("""
                            SELECT
                                 StateID, 
                                 PlaceID,
                                 Population,
                                 CommuteTime,
                                 StateID||PlaceID AS GEOID
                            FROM Census_CommuteTime
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head()

Code Chunk #8:

In [ ]:
#Making a connection
connect_db = sqlite3.connect("/content/sample_data/MetroCommute.db")

#SQL Statement
df = pd.read_sql_query("""
                            SELECT *                                 
                            FROM 
                            (
                               SELECT
                                      GEOID,
                                      NAME,
                                      STATE, 
                                      LAND,
                                      LATITUDE,
                                      LONGITUDE,
                                      TRIM(RTRIM(NAME, REPLACE(Name, ' ','')))||', '||STATE AS City
                                FROM Census_LocationInfo
                                WHERE (NAME NOT LIKE '%CDP') AND (GEOID != '2756698') AND ( City IN (SELECT Name FROM CitiesAndTowns) )  
                            )
                            LEFT JOIN (
                                        SELECT
                                          Population,
                                          CommuteTime,
                                          CommuteTimePT,
                                          StateID||PlaceID AS GEOID
                                      FROM Census_CommuteTime 
                                      )
                            USING(GEOID) 
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head()

Code Chunk #9

In [ ]:
#Making a connection
connect_db = sqlite3.connect("/content/sample_data/MetroCommute.db")

#SQL Statement
df = pd.read_sql_query("""
                            SELECT *, 
                                   CASE 
                                      WHEN                               THEN 'I'
                                      WHEN                               THEN 'II'
                                      WHEN                               THEN 'III'
                                      WHEN                               THEN 'IV'
                                    END AS Quadrant                                
                            FROM 
                            (
                               SELECT
                                      GEOID, 
                                      NAME, 
                                      STATE,
                                      LAND,
                                      LATITUDE,
                                      LONGITUDE,
                                      TRIM(RTRIM(NAME, REPLACE(Name, ' ','')))||', '||STATE AS City
                                FROM Census_LocationInfo
                                WHERE City IN (SELECT Name FROM CitiesAndTowns)
                            )
                            LEFT JOIN (
                                        SELECT
                                          StateID, 
                                          PlaceID,
                                          Population,
                                          CommuteTime,
                                          CommuteTimePT,
                                          StateID||PlaceID AS GEOID
                                      FROM Census_CommuteTime 
                                      )
                            USING(GEOID) 
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head()

Code Chunk #10:

In [ ]:
#Making a connection
connect_db = sqlite3.connect("/content/sample_data/MetroCommute.db")

#SQL Statement
df = pd.read_sql_query("""
                            SELECT AVG(CommuteTimePT), 
                                   CASE 
                                      WHEN                               THEN 'I'
                                      WHEN                               THEN 'II'
                                      WHEN                               THEN 'III'
                                      WHEN                               THEN 'IV'
                                    END AS Quadrant                                
                            FROM 
                            (
                               SELECT
                                      GEOID, 
                                      NAME, 
                                      STATE,
                                      LAND,
                                      LATITUDE,
                                      LONGITUDE,
                                      TRIM(RTRIM(NAME, REPLACE(Name, ' ','')))||', '||STATE AS City
                                FROM Census_LocationInfo
                                WHERE City IN (SELECT Name FROM CitiesAndTowns)
                            )
                            LEFT JOIN (
                                        SELECT
                                          StateID, 
                                          PlaceID,
                                          Population,
                                          CommuteTime,
                                          CommuteTimePT,
                                          StateID||PlaceID AS GEOID
                                      FROM Census_CommuteTime 
                                      )
                            USING(GEOID)
                            WHERE CommuteTimePT > 0
                            GROUP BY Quadrant
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df