<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/Module2_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 2 | Part 1: Pre-Processing of Data Files

This handout will include some of the common tasks regarding the pre-processing of data file before the data is read into R or Python.  In particular, the processing being done here is happening at the operating system level.

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

### Example 2.1.1

Consider data on births in the United States. This information is provided by the Center for Disease Control (CDC) and it's Natality data within their  WONDER online databases.

Two different datasets were obtained for the most recent year available. 

*   Number of Births that took place At Home for each State
*   Number of Births that took place in a Hospital for each State

<i>Data Sources</i>: https://wonder.cdc.gov/natality-current.html

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

These two data files have been saved into the following folder in Colab.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1jieTL2t7jEocOtJAas1Svn8nOKNByKBr "></p>

## Utility Functions to View Contents of a File
Colab / iPython Notebook allows one to run commands at the operating system level using typical code blocks.  The commands must simply be preceeded with <strong>!</strong> , i.e. an exclaimation point.

For example, to get a listing of file in a particular directory, use <strong> !ls *\<path to directory\>* </strong>

In [ ]:
#A listing of the files in the /content/sample_data/ folder
!ls '/content/sample_data'

AtHome_Births_StateLevel.txt  Hospital_Births_StateLevel.txt

To see the contents of a file, use <strong> !cat *\<filename\>* </strong>

WARNING: Do *not* run this command on a large file.

In [ ]:
!cat /content/sample_data/AtHome_Births_StateLevel.txt

"Notes"	"State"	"State Code"	"Year"	"Year Code"	Births
	"Alabama"	"01"	"2019"	"2019"	243
	"Alaska"	"02"	"2019"	"2019"	195
	"Arizona"	"04"	"2019"	"2019"	706
	"Arkansas"	"05"	"2019"	"2019"	326
	"California"	"06"	"2019"	"2019"	3081
	"Colorado"	"08"	"2019"	"2019"	899
	"Connecticut"	"09"	"2019"	"2019"	217
	"Delaware"	"10"	"2019"	"2019"	66
	"District of Columbia"	"11"	"2019"	"2019"	72
	"Florida"	"12"	"2019"	"2019"	2052
	"Georgia"	"13"	"2019"	"2019"	744
	"Hawaii"	"15"	"2019"	"2019"	319
	"Idaho"	"16"	"2019"	"2019"	619
	"Illinois"	"17"	"2019"	"2019"	819
	"Indiana"	"18"	"2019"	"2019"	1160
	"Iowa"	"19"	"2019"	"2019"	507
	"Kansas"	"20"	"2019"	"2019"	494
	"Kentucky"	"21"	"2019"	"2019"	680
	"Louisiana"	"22"	"2019"	"2019"	153
	"Maine"	"23"	"2019"	"2019"	222
	"Maryland"	"24"	"2019"	"2019"	533
	"Massachusetts"	"25"	"2019"	"2019"	395
	"Michigan"	"26"	"2019"	"2019"	1534
	"Minnesota"	"27"	"2019"	"2019"	800
	"Mississippi"	"28"	"2019"	"2019"	169
	"Missouri"	"29"	"2019"	"2019"	1071
	"Montana"	"30"	"2019"	"2019"	263
	"Nebraska"	"31"	"2019"	"2019"	93
	"Nevada"	"32"	"2019"	"2019"	573
	"New Hampshire"	"33"	"2019"	"2019"	163
	"New Jersey"	"34"	"2019"	"2019"	415
	"New Mexico"	"35"	"2019"	"2019"	274
	"New York"	"36"	"2019"	"2019"	2458
	"North Carolina"	"37"	"2019"	"2019"	716
	"North Dakota"	"38"	"2019"	"2019"	120
	"Ohio"	"39"	"2019"	"2019"	1599
	"Oklahoma"	"40"	"2019"	"2019"	505
	"Oregon"	"41"	"2019"	"2019"	865
	"Pennsylvania"	"42"	"2019"	"2019"	2606
	"Rhode Island"	"44"	"2019"	"2019"	48
	"South Carolina"	"45"	"2019"	"2019"	361
	"South Dakota"	"46"	"2019"	"2019"	89
	"Tennessee"	"47"	"2019"	"2019"	956
	"Texas"	"48"	"2019"	"2019"	2618
	"Utah"	"49"	"2019"	"2019"	1027
	"Vermont"	"50"	"2019"	"2019"	125
	"Virginia"	"51"	"2019"	"2019"	941
	"Washington"	"53"	"2019"	"2019"	1745
	"West Virginia"	"54"	"2019"	"2019"	136
	"Wisconsin"	"55"	"2019"	"2019"	1604
	"Wyoming"	"56"	"2019"	"2019"	130
"---"
"Dataset: Natality, 2007-2019"
"Query Parameters:"
"Birthplace: Residence"
"Year: 2019"
"Group By: State; Year"
"Show Totals: False"
"Show Zero Values: False"
"Show Suppressed: False"
"Calculate Rates Per: 1,000"
"Population Option: No populations shown because rates were not selected."
"---"
"Help: See http://wonder.cdc.gov/wonder/help/Natality.html for more information."
"---"
"Query Date: Jan 26, 2021 10:46:51 AM"
"---"
"Suggested Citation: United States Department of Health and Human Services (US DHHS), Centers for Disease Control and Prevention"
"(CDC), National Center for Health Statistics (NCHS), Division of Vital Statistics, Natality public-use data 2007-2019, on CDC"
"WONDER Online Database, October 2020. Accessed at http://wonder.cdc.gov/natality-current.html on Jan 26, 2021 10:46:51 AM"
"---"
Caveats:
"1. Each birth record represents one living baby."

For large files, use <strong> !head *\<filename\>* </strong> instead of !cat

In [ ]:
!head /content/sample_data/AtHome_Births_StateLevel.txt

"Notes"	"State"	"State Code"	"Year"	"Year Code"	Births
	"Alabama"	"01"	"2019"	"2019"	243
	"Alaska"	"02"	"2019"	"2019"	195
	"Arizona"	"04"	"2019"	"2019"	706
	"Arkansas"	"05"	"2019"	"2019"	326
	"California"	"06"	"2019"	"2019"	3081
	"Colorado"	"08"	"2019"	"2019"	899
	"Connecticut"	"09"	"2019"	"2019"	217
	"Delaware"	"10"	"2019"	"2019"	66
	"District of Columbia"	"11"	"2019"	"2019"	72

To view the last 15 lines of a file, use <strong> !tail -n 15 *\<filename\>* </strong>

In [ ]:
#Print last 15 lines of a file
!tail -n 15 /content/sample_data/AtHome_Births_StateLevel.txt

"Show Zero Values: False"
"Show Suppressed: False"
"Calculate Rates Per: 1,000"
"Population Option: No populations shown because rates were not selected."
"---"
"Help: See http://wonder.cdc.gov/wonder/help/Natality.html for more information."
"---"
"Query Date: Jan 26, 2021 10:46:51 AM"
"---"
"Suggested Citation: United States Department of Health and Human Services (US DHHS), Centers for Disease Control and Prevention"
"(CDC), National Center for Health Statistics (NCHS), Division of Vital Statistics, Natality public-use data 2007-2019, on CDC"
"WONDER Online Database, October 2020. Accessed at http://wonder.cdc.gov/natality-current.html on Jan 26, 2021 10:46:51 AM"
"---"
Caveats:
"1. Each birth record represents one living baby."

Next, print all lines in a file -- starting with Line #2.

In [ ]:
#Don't print the first line, use + with !tail
!tail -n +2 /content/sample_data/AtHome_Births_StateLevel.txt

	"Alabama"	"01"	"2019"	"2019"	243
	"Alaska"	"02"	"2019"	"2019"	195
	"Arizona"	"04"	"2019"	"2019"	706
	"Arkansas"	"05"	"2019"	"2019"	326
	"California"	"06"	"2019"	"2019"	3081
	"Colorado"	"08"	"2019"	"2019"	899
	"Connecticut"	"09"	"2019"	"2019"	217
	"Delaware"	"10"	"2019"	"2019"	66
	"District of Columbia"	"11"	"2019"	"2019"	72
	"Florida"	"12"	"2019"	"2019"	2052
	"Georgia"	"13"	"2019"	"2019"	744
	"Hawaii"	"15"	"2019"	"2019"	319
	"Idaho"	"16"	"2019"	"2019"	619
	"Illinois"	"17"	"2019"	"2019"	819
	"Indiana"	"18"	"2019"	"2019"	1160
	"Iowa"	"19"	"2019"	"2019"	507
	"Kansas"	"20"	"2019"	"2019"	494
	"Kentucky"	"21"	"2019"	"2019"	680
	"Louisiana"	"22"	"2019"	"2019"	153
	"Maine"	"23"	"2019"	"2019"	222
	"Maryland"	"24"	"2019"	"2019"	533
	"Massachusetts"	"25"	"2019"	"2019"	395
	"Michigan"	"26"	"2019"	"2019"	1534
	"Minnesota"	"27"	"2019"	"2019"	800
	"Mississippi"	"28"	"2019"	"2019"	169
	"Missouri"	"29"	"2019"	"2019"	1071
	"Montana"	"30"	"2019"	"2019"	263
	"Nebraska"	"31"	"2019"	"2019"	93
	"Nevada"	"32"	"2019"	"2019"	573
	"New Hampshire"	"33"	"2019"	"2019"	163
	"New Jersey"	"34"	"2019"	"2019"	415
	"New Mexico"	"35"	"2019"	"2019"	274
	"New York"	"36"	"2019"	"2019"	2458
	"North Carolina"	"37"	"2019"	"2019"	716
	"North Dakota"	"38"	"2019"	"2019"	120
	"Ohio"	"39"	"2019"	"2019"	1599
	"Oklahoma"	"40"	"2019"	"2019"	505
	"Oregon"	"41"	"2019"	"2019"	865
	"Pennsylvania"	"42"	"2019"	"2019"	2606
	"Rhode Island"	"44"	"2019"	"2019"	48
	"South Carolina"	"45"	"2019"	"2019"	361
	"South Dakota"	"46"	"2019"	"2019"	89
	"Tennessee"	"47"	"2019"	"2019"	956
	"Texas"	"48"	"2019"	"2019"	2618
	"Utah"	"49"	"2019"	"2019"	1027
	"Vermont"	"50"	"2019"	"2019"	125
	"Virginia"	"51"	"2019"	"2019"	941
	"Washington"	"53"	"2019"	"2019"	1745
	"West Virginia"	"54"	"2019"	"2019"	136
	"Wisconsin"	"55"	"2019"	"2019"	1604
	"Wyoming"	"56"	"2019"	"2019"	130
"---"
"Dataset: Natality, 2007-2019"
"Query Parameters:"
"Birthplace: Residence"
"Year: 2019"
"Group By: State; Year"
"Show Totals: False"
"Show Zero Values: False"
"Show Suppressed: False"
"Calculate Rates Per: 1,000"
"Population Option: No populations shown because rates were not selected."
"---"
"Help: See http://wonder.cdc.gov/wonder/help/Natality.html for more information."
"---"
"Query Date: Jan 26, 2021 10:46:51 AM"
"---"
"Suggested Citation: United States Department of Health and Human Services (US DHHS), Centers for Disease Control and Prevention"
"(CDC), National Center for Health Statistics (NCHS), Division of Vital Statistics, Natality public-use data 2007-2019, on CDC"
"WONDER Online Database, October 2020. Accessed at http://wonder.cdc.gov/natality-current.html on Jan 26, 2021 10:46:51 AM"
"---"
Caveats:
"1. Each birth record represents one living baby."

Finally, printing lines from the start to a certain point -- truncating the last 22 lines here.  Use case here would be to exclude footer information.

In [ ]:
#Do not print the last number of lines, use - with !head
!head -n -22 /content/sample_data/AtHome_Births_StateLevel.txt

"Notes"	"State"	"State Code"	"Year"	"Year Code"	Births
	"Alabama"	"01"	"2019"	"2019"	243
	"Alaska"	"02"	"2019"	"2019"	195
	"Arizona"	"04"	"2019"	"2019"	706
	"Arkansas"	"05"	"2019"	"2019"	326
	"California"	"06"	"2019"	"2019"	3081
	"Colorado"	"08"	"2019"	"2019"	899
	"Connecticut"	"09"	"2019"	"2019"	217
	"Delaware"	"10"	"2019"	"2019"	66
	"District of Columbia"	"11"	"2019"	"2019"	72
	"Florida"	"12"	"2019"	"2019"	2052
	"Georgia"	"13"	"2019"	"2019"	744
	"Hawaii"	"15"	"2019"	"2019"	319
	"Idaho"	"16"	"2019"	"2019"	619
	"Illinois"	"17"	"2019"	"2019"	819
	"Indiana"	"18"	"2019"	"2019"	1160
	"Iowa"	"19"	"2019"	"2019"	507
	"Kansas"	"20"	"2019"	"2019"	494
	"Kentucky"	"21"	"2019"	"2019"	680
	"Louisiana"	"22"	"2019"	"2019"	153
	"Maine"	"23"	"2019"	"2019"	222
	"Maryland"	"24"	"2019"	"2019"	533
	"Massachusetts"	"25"	"2019"	"2019"	395
	"Michigan"	"26"	"2019"	"2019"	1534
	"Minnesota"	"27"	"2019"	"2019"	800
	"Mississippi"	"28"	"2019"	"2019"	169
	"Missouri"	"29"	"2019"	"2019"	1071
	"Montana"	"30"	"2019"	"2019"	263
	"Nebraska"	"31"	"2019"	"2019"	93
	"Nevada"	"32"	"2019"	"2019"	573
	"New Hampshire"	"33"	"2019"	"2019"	163
	"New Jersey"	"34"	"2019"	"2019"	415
	"New Mexico"	"35"	"2019"	"2019"	274
	"New York"	"36"	"2019"	"2019"	2458
	"North Carolina"	"37"	"2019"	"2019"	716
	"North Dakota"	"38"	"2019"	"2019"	120
	"Ohio"	"39"	"2019"	"2019"	1599
	"Oklahoma"	"40"	"2019"	"2019"	505
	"Oregon"	"41"	"2019"	"2019"	865
	"Pennsylvania"	"42"	"2019"	"2019"	2606
	"Rhode Island"	"44"	"2019"	"2019"	48
	"South Carolina"	"45"	"2019"	"2019"	361
	"South Dakota"	"46"	"2019"	"2019"	89
	"Tennessee"	"47"	"2019"	"2019"	956
	"Texas"	"48"	"2019"	"2019"	2618
	"Utah"	"49"	"2019"	"2019"	1027
	"Vermont"	"50"	"2019"	"2019"	125
	"Virginia"	"51"	"2019"	"2019"	941
	"Washington"	"53"	"2019"	"2019"	1745
	"West Virginia"	"54"	"2019"	"2019"	136
	"Wisconsin"	"55"	"2019"	"2019"	1604
	"Wyoming"	"56"	"2019"	"2019"	130

## Using SED to Manipulate Files

A text editor can be used to change the contents of a file. SED (Stream EDitor) is a common text editor that can be used to manipulate text files from a command line.

Wiki Page for sed: https://en.wikipedia.org/wiki/Sed

A text editor such as sed is certainly more powerful than commands used to print the contents of a file.  For example, the following sed command can be used to print a sequence of lines in the middle of a file.

In [ ]:
#Printing lines 2 through 52 of a file
!sed -n 2,52p /content/sample_data/AtHome_Births_StateLevel.txt

SED allows one to *push* the contents being printing to the screen to be saved into a second file.  This action requires the use of a piping command, i.e. <strong>></strong>, and a file name should be provided for the new file.

In [ ]:
#Printing lines 2 through 52 of a file AND pushing contents from print into a new file
!sed -n 2,52p /content/sample_data/AtHome_Births_StateLevel.txt > /content/sample_data/AtHome_Births_StateLevel_v2.txt

In [ ]:
#Checking to see if new file was created
!ls '/content/sample_data'

AtHome_Births_StateLevel.txt	 Hospital_Births_StateLevel.txt
AtHome_Births_StateLevel_v2.txt

In [ ]:
#Printing entire file to view changes
!cat /content/sample_data/AtHome_Births_StateLevel_v2.txt

	"Alabama"	"01"	"2019"	"2019"	243
	"Alaska"	"02"	"2019"	"2019"	195
	"Arizona"	"04"	"2019"	"2019"	706
	"Arkansas"	"05"	"2019"	"2019"	326
	"California"	"06"	"2019"	"2019"	3081
	"Colorado"	"08"	"2019"	"2019"	899
	"Connecticut"	"09"	"2019"	"2019"	217
	"Delaware"	"10"	"2019"	"2019"	66
	"District of Columbia"	"11"	"2019"	"2019"	72
	"Florida"	"12"	"2019"	"2019"	2052
	"Georgia"	"13"	"2019"	"2019"	744
	"Hawaii"	"15"	"2019"	"2019"	319
	"Idaho"	"16"	"2019"	"2019"	619
	"Illinois"	"17"	"2019"	"2019"	819
	"Indiana"	"18"	"2019"	"2019"	1160
	"Iowa"	"19"	"2019"	"2019"	507
	"Kansas"	"20"	"2019"	"2019"	494
	"Kentucky"	"21"	"2019"	"2019"	680
	"Louisiana"	"22"	"2019"	"2019"	153
	"Maine"	"23"	"2019"	"2019"	222
	"Maryland"	"24"	"2019"	"2019"	533
	"Massachusetts"	"25"	"2019"	"2019"	395
	"Michigan"	"26"	"2019"	"2019"	1534
	"Minnesota"	"27"	"2019"	"2019"	800
	"Mississippi"	"28"	"2019"	"2019"	169
	"Missouri"	"29"	"2019"	"2019"	1071
	"Montana"	"30"	"2019"	"2019"	263
	"Nebraska"	"31"	"2019"	"2019"	93
	"Nevada"	"32"	"2019"	"2019"	573
	"New Hampshire"	"33"	"2019"	"2019"	163
	"New Jersey"	"34"	"2019"	"2019"	415
	"New Mexico"	"35"	"2019"	"2019"	274
	"New York"	"36"	"2019"	"2019"	2458
	"North Carolina"	"37"	"2019"	"2019"	716
	"North Dakota"	"38"	"2019"	"2019"	120
	"Ohio"	"39"	"2019"	"2019"	1599
	"Oklahoma"	"40"	"2019"	"2019"	505
	"Oregon"	"41"	"2019"	"2019"	865
	"Pennsylvania"	"42"	"2019"	"2019"	2606
	"Rhode Island"	"44"	"2019"	"2019"	48
	"South Carolina"	"45"	"2019"	"2019"	361
	"South Dakota"	"46"	"2019"	"2019"	89
	"Tennessee"	"47"	"2019"	"2019"	956
	"Texas"	"48"	"2019"	"2019"	2618
	"Utah"	"49"	"2019"	"2019"	1027
	"Vermont"	"50"	"2019"	"2019"	125
	"Virginia"	"51"	"2019"	"2019"	941
	"Washington"	"53"	"2019"	"2019"	1745
	"West Virginia"	"54"	"2019"	"2019"	136
	"Wisconsin"	"55"	"2019"	"2019"	1604
	"Wyoming"	"56"	"2019"	"2019"	130

## Using SED to Find/Replace Contents

Notice that each line in this data file begins with a tab character.  This is evident when the file is put into Notepad ++ and Show All Characters has been specifed for the text file.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1JR_XPxdAl2RPsJAod1s7BW8V7vdUXkU_"></p>

### Initial Tab Character Cause for Concern

The fact that each lines begins with a tab character will adversely effect the reading in of the data. The following code can be used to read in this file into R.  Notice that R Magic is needed to execute R commands because this is a iPython Notebook.

In [ ]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [ ]:
%%R

AtHome <- read.table("/content/sample_data/AtHome_Births_StateLevel_v2.txt", header=FALSE, sep='\t')

In [ ]:
%%R

head(AtHome)

  V1         V2 V3   V4   V5   V6
1 NA    Alabama  1 2019 2019  243
2 NA     Alaska  2 2019 2019  195
3 NA    Arizona  4 2019 2019  706
4 NA   Arkansas  5 2019 2019  326
5 NA California  6 2019 2019 3081
6 NA   Colorado  8 2019 2019  899

The problem with the initial tab character is not unique to R.  This text file was read into a spreadsheet and JMP and the same issue appears in both.

<table border='1' bgcolor='white'>
  <tr>
    <td align='45%' align='center' valign='top'>
     <p align='center'>Reading File into a Spreadsheet<br><br><img src="https://drive.google.com/uc?export=view&id=1cJQHML7A7ipbKPXcHp9a9kH5VU5Qjj1K"></p>
    </td>
     <td align='10%' align='center' valign='top'>&nbsp;</td>
        <td align='45%' align='center' valign='top'>

 <p align='center'>Reading File into JMP<br><br><img src="https://drive.google.com/uc?export=view&id=1QyzH6s6seS7uN2rRisrxLz00vo3Td864"></p>
       </td>
  </tr>
</table>

###  Removing the Initial Tab Character from each Line

The following sed command does the following

*   Searches each line of the file named *filename*
*   Finds the first occurance of the tab character, i.e. \t
*   Replaces the first occurance of \t with *nothing*
*   Creates a new file, named *filename2* for the output




<p align='center'><img src="https://drive.google.com/uc?export=view&id=1sg9zYH1c2i6Ucrxm-2i6uiVy7SYvb_1_"></p>

In [ ]:
#Run the command above to remove the first tab occurance on each line in the AtHome_Births_StateLevel_v2 file
!sed 's/\t//' /content/sample_data/AtHome_Births_StateLevel_v2.txt > /content/sample_data/AtHome_Births_StateLevel_v3.txt

In [ ]:
#Verify that this command produces the desired output
!cat /content/sample_data/AtHome_Births_StateLevel_v3.txt

The removal of the first tab occurance can be verified in Notepad ++ as is shown here.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1-7ALLdTSvPTjrFrH4u3q4maTkdenzkEX"></p>

SED can be used to easily convert this tab delimited file into the more common CSV delimited file.  In this situaiton all occurance of the tab character will be replaced with the comma.

*   Search each line of the file named *filename*
*   Finds each occurance of the tab character, i.e. \t
*   Replaces the each occurance of \t with ,
*   The trailing g preforms a global search, i.e. all occurances
*   Creates a new file, named *filename2* for the output

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1fUmMPbEsRXSNdld3gn-gcTfPlQhXtQ95"></p>

In [ ]:
#Convert from tab delimited to comma delimited
!sed 's/\t/,/g' /content/sample_data/AtHome_Births_StateLevel_v3.txt > /content/sample_data/AtHome_Births_StateLevel_v4.txt

In [ ]:
#Verify that conversion was completed successfully
!cat /content/sample_data/AtHome_Births_StateLevel_v4.txt

## Using SED to Insert/Delete Lines

Next, sed will be used to add field or variable names to the first line of this data file. 

*   Insert a line at line 1
*   Insert the field/variable names into Line 1; Contents are contained with slashes
*   Create a new file, named *filename2* for the output

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1Rdzm5SCRiKKdt67JBcX5uJ6toNk6CVan"></p>

In [ ]:
#Insert variable names into first line of data file
## NOTE: Be careful not to run this line mutiple times          ##
##       Can delete lines using '1d' option of sed (see below)  ##

!sed '1i \State, StateCode, Year, YearCode, AtHomeCount\' /content/sample_data/AtHome_Births_StateLevel_v4.txt > /content/sample_data/AtHome_Births_StateLevel_v5.txt

In [ ]:
#Verify that header was successfully added to thd data file
!cat /content/sample_data/AtHome_Births_StateLevel_v5.txt

Comment:  The -i option in sed permits one to edit the file <strong>in-place</strong>.  Here, the header information here is put into the *same* file -- no new file is being created here for the output.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1-HSWFO_nvam13ZBI3peDbB8a2G60k-ep"></p>

The following command can be used to <strong>delete</strong> line 1 from an existing data file.

In [ ]:
#The following can be used delete the first line in a data file
!sed -i '1d' /content/sample_data/AtHome_Births_StateLevel_v5.txt

## Using AWK to Determine #Records and #Fields

AWK is a classic language that can be used for the processing of text files. AWK was created by Alfred Aho, Peter Weinberger, and Brian Kernighan who all worked together at Bell Labs. 

AWK Link:  https://en.wikipedia.org/wiki/AWK

In [ ]:
#The following command can be used to determine the number of lines in a file
!awk 'END{print NR}' /content/sample_data/AtHome_Births_StateLevel_v5.txt

52

In [ ]:
#The following command can be used to determine the number of fields in a file; Note the deliminter, here a comma, should be specified
!awk -F',' '{print NF; exit}' /content/sample_data/AtHome_Births_StateLevel_v5.txt

5

Note:  The following sed command can be used to determine the number of lines in a text file.  
<p align='center'><code>!sed -n '$=' /content/sample_data/AtHome_Births_StateLevel_v5.txt</code></p>

## Reading the Processed Data File into R

This an iPython Notebook; thus, to run R commands, R Magic will need to be implemented.

In [ ]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

###  Using read.csv() with the default settings
Once again, R commands can be run in code blocks when %%R is used in the first line of the code block.

In [ ]:
%%R

AtHome <- read.csv('/content/sample_data/AtHome_Births_StateLevel_v5.txt')

In [ ]:
%%R

head(AtHome)

       State StateCode Year YearCode AtHomeCount
1    Alabama         1 2019     2019         243
2     Alaska         2 2019     2019         195
3    Arizona         4 2019     2019         706
4   Arkansas         5 2019     2019         326
5 California         6 2019     2019        3081
6   Colorado         8 2019     2019         899

In [ ]:
#Verify that R read in the file correctly
!head /content/sample_data/AtHome_Births_StateLevel_v5.txt

State, StateCode, Year, YearCode, AtHomeCount
"Alabama","01","2019","2019",243
"Alaska","02","2019","2019",195
"Arizona","04","2019","2019",706
"Arkansas","05","2019","2019",326
"California","06","2019","2019",3081
"Colorado","08","2019","2019",899
"Connecticut","09","2019","2019",217
"Delaware","10","2019","2019",66
"District of Columbia","11","2019","2019",72

In [ ]:
#Verify the dimensions of the data.frame inside R
%%R 

dim(AtHome)

[1] 51  6

### Some additional features of read.csv() function in R

The following provides a brief explanation of common parameters for the read.csv() function.

1.   Parameter: header= ; TRUE/FALSE; Does the data file being read in have a header that contains field/variable names?
2.   Parameter: colClasses=c(...); Specify the data type for each field
3.   Parameter: quote= ;  Control over how quoted strings are handled

In [ ]:
#Specification that a header exists in the data file; the header will be used for the field/variable names in R
%%R

AtHome <- read.csv('/content/sample_data/AtHome_Births_StateLevel_v5.txt', header=TRUE)

In [ ]:
%%R

AtHome <- read.csv('/content/sample_data/AtHome_Births_StateLevel_v5.txt', header=TRUE,quote="")
head(AtHome)

         State StateCode   Year YearCode AtHomeCount
1    "Alabama"      "01" "2019"   "2019"         243
2     "Alaska"      "02" "2019"   "2019"         195
3    "Arizona"      "04" "2019"   "2019"         706
4   "Arkansas"      "05" "2019"   "2019"         326
5 "California"      "06" "2019"   "2019"        3081
6   "Colorado"      "08" "2019"   "2019"         899

Next, consider the fact that preceding 0s for StateCode have been removed by R.

In [ ]:
#Looking at first few rows in the AtHome data.frame
%%R
head(AtHome)

       State StateCode Year YearCode AtHomeCount
1    Alabama         1 2019     2019         243
2     Alaska         2 2019     2019         195
3    Arizona         4 2019     2019         706
4   Arkansas         5 2019     2019         326
5 California         6 2019     2019        3081
6   Colorado         8 2019     2019         899

In fact, R is treating StateCode as a numeric quantitity (as an integer to be more exact) and *not* as an code.

In [ ]:
#Use str() to obtain the structure of the AtHome data.frame
%%R
str(AtHome)

'data.frame':	51 obs. of  5 variables:
 $ State      : chr  "Alabama" "Alaska" "Arizona" "Arkansas" ...
 $ StateCode  : int  1 2 4 5 6 8 9 10 11 12 ...
 $ Year       : int  2019 2019 2019 2019 2019 2019 2019 2019 2019 2019 ...
 $ YearCode   : int  2019 2019 2019 2019 2019 2019 2019 2019 2019 2019 ...
 $ AtHomeCount: int  243 195 706 326 3081 899 217 66 72 2052 ...

Consider the following use of the colClasses=c() parameter in the read.csv() function call.  The length of the colClasses vector should match the number of fields in the data file.

In [ ]:
#Specify the data type for each field upon reading in the data file in R
%%R

DataTypesForEachField <- c("character","character","character","character","numeric")
AtHome <- read.csv('/content/sample_data/AtHome_Births_StateLevel_v5.txt', header=TRUE, colClasses=DataTypesForEachField)

In [ ]:
#Verify that R is using the data types specified
%%R
str(AtHome)
 #Insert a blank line; Note cat this is another one of those operating system level commands
 cat("\n")
head(AtHome)

'data.frame':	51 obs. of  5 variables:
 $ State      : chr  "Alabama" "Alaska" "Arizona" "Arkansas" ...
 $ StateCode  : chr  "01" "02" "04" "05" ...
 $ Year       : chr  "2019" "2019" "2019" "2019" ...
 $ YearCode   : chr  "2019" "2019" "2019" "2019" ...
 $ AtHomeCount: num  243 195 706 326 3081 ...

       State StateCode Year YearCode AtHomeCount
1    Alabama        01 2019     2019         243
2     Alaska        02 2019     2019         195
3    Arizona        04 2019     2019         706
4   Arkansas        05 2019     2019         326
5 California        06 2019     2019        3081
6   Colorado        08 2019     2019         899

The following will not work with read.csv() function as there is a conflict.  Year is a quoted string and R wants to read this field in as a string -- even though numeric is the data type specified in the code below.

In [ ]:
#Specify the data type for each field upon reading in the data file in R
%%R

DataTypesForEachField <- c("character","character","numeric","character","numeric")
AtHome <- read.csv('/content/sample_data/AtHome_Births_StateLevel_v5.txt', header=TRUE, colClasses=DataTypesForEachField)

R[write to console]: Error in scan(file = file, what = what, sep = sep, quote = quote, dec = dec,  :
  scan() expected 'a real', got '"2019"'
Calls: <Anonymous> ... <Anonymous> -> withVisible -> read.csv -> read.table -> scan

Error in scan(file = file, what = what, sep = sep, quote = quote, dec = dec,  :
  scan() expected 'a real', got '"2019"'
Calls: <Anonymous> ... <Anonymous> -> withVisible -> read.csv -> read.table -> scan

One possible remedy is to read the Year in as a string and then promptly change the data type to an interger.

In [ ]:
#Converting the Year to an interger after reading in the data file
%%R

DataTypesForEachField <- c("character","character","character","character","numeric")
AtHome <- read.csv('/content/sample_data/AtHome_Births_StateLevel_v5.txt', header=TRUE, colClasses=DataTypesForEachField)

cat('Structure of AtHome data.frame as read in by read.csv \n\n')
str(AtHome)

#Converting the data type for Year to an integer
AtHome$Year <- as.integer(AtHome$Year)
cat('\n Structure of AtHome data.frame after conversion of data type for Year \n\n')
str(AtHome)

Structure of AtHome data.frame as read in by read.csv

'data.frame':	51 obs. of  5 variables:
 $ State      : chr  "Alabama" "Alaska" "Arizona" "Arkansas" ...
 $ StateCode  : chr  "01" "02" "04" "05" ...
 $ Year       : chr  "2019" "2019" "2019" "2019" ...
 $ YearCode   : chr  "2019" "2019" "2019" "2019" ...
 $ AtHomeCount: num  243 195 706 326 3081 ...

 Structure of AtHome data.frame after conversion of data type for Year

'data.frame':	51 obs. of  5 variables:
 $ State      : chr  "Alabama" "Alaska" "Arizona" "Arkansas" ...
 $ StateCode  : chr  "01" "02" "04" "05" ...
 $ Year       : int  2019 2019 2019 2019 2019 2019 2019 2019 2019 2019 ...
 $ YearCode   : chr  "2019" "2019" "2019" "2019" ...
 $ AtHomeCount: num  243 195 706 326 3081 ...

A view of the final AtHome data.frame where StateCode is a string and Year is numeric.

In [ ]:
%%R
head(AtHome)

       State StateCode Year YearCode AtHomeCount
1    Alabama        01 2019     2019         243
2     Alaska        02 2019     2019         195
3    Arizona        04 2019     2019         706
4   Arkansas        05 2019     2019         326
5 California        06 2019     2019        3081
6   Colorado        08 2019     2019         899

##   Task:  Complete the following for the AtHospital File


1.   Clean-up the hosptial data file, e.g. remove footer info, remove initial tabs on each line, etc.
2.   Convert the file from tab deliminated to comma deliminated
3.   Add an appropriate header to label each field
4.   Read the AtHospital data into R using read.csv()
5.   Specify that StateCode is indeed a string containing the preceeding 0s and that Year as been specified as an interger