<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/Module4_Part1R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
mydata <- c(12, 14, 15, 16, 17)

In [3]:
mean(mydata)

[1] 14.8

In [4]:
mean

function (x, ...)
UseMethod("mean")
<bytecode: 0x561bedb1ba80>
<environment: namespace:base>

In [5]:
mean.default

function (x, trim = 0, na.rm = FALSE, ...)
{
    if (!is.numeric(x) && !is.complex(x) && !is.logical(x)) {
        warning("argument is not numeric or logical: returning NA")
        return(NA_real_)
    }
    if (na.rm)
        x <- x[!is.na(x)]
    if (!is.numeric(trim) || length(trim) != 1L)
        stop("'trim' must be numeric of length one")
    n <- length(x)
    if (trim > 0 && n) {
        if (is.complex(x))
            stop("trimmed means are not defined for complex data")
        if (anyNA(x))
            return(NA_real_)
        if (trim >= 0.5)
            return(stats::median(x, na.rm = FALSE))
        lo <- floor(n * trim) + 1
        hi <- n + 1 - lo
        x <- sort.int(x, partial = unique(c(lo, hi)))[lo:hi]
    }
    .Internal(mean(x))
}
<bytecode: 0x561bf002e7b0>
<environment: namespace:base>

In [10]:
addtwo <- function(a,b){
  a+b
}

In [11]:
ls()

[1] "addtwo" "mydata"

In [12]:
addtwo(3,2)

[1] 5



---



---



---

In [19]:
library(tidyverse)

In [15]:
UCLA_Loneliness <- read_csv('/content/sample_data/UCLA_LonelinessScale.csv')

── Column specification ────────────────────────────────────────────────────────
cols(
  .default = col_double(),
  ParticipantID = col_character()
)
ℹ Use `spec()` for the full column specifications.

In [20]:
str(UCLA_Loneliness)

spec_tbl_df[,22] [278 × 22] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ ParticipantID: chr [1:278] "ParticipantID_001" "ParticipantID_002" "ParticipantID_003" "ParticipantID_004" ...
 $ Age          : num [1:278] 32 52 54 41 56 58 35 36 56 36 ...
 $ Statement1   : num [1:278] 1 2 4 4 1 4 4 4 3 4 ...
 $ Statement2   : num [1:278] 2 3 4 1 2 3 1 1 2 2 ...
 $ Statement3   : num [1:278] 4 2 4 1 4 2 1 3 3 1 ...
 $ Statement4   : num [1:278] 1 1 3 1 4 3 3 2 2 2 ...
 $ Statement5   : num [1:278] 1 2 1 3 2 4 4 2 4 2 ...
 $ Statement6   : num [1:278] 1 4 3 2 2 3 4 2 3 4 ...
 $ Statement7   : num [1:278] 4 1 2 1 4 1 1 3 1 1 ...
 $ Statement8   : num [1:278] 1 4 1 1 3 1 2 1 2 1 ...
 $ Statement9   : num [1:278] 3 3 3 3 2 3 3 4 3 4 ...
 $ Statement10  : num [1:278] 2 2 2 1 2 4 2 4 2 2 ...
 $ Statement11  : num [1:278] 1 3 2 1 2 3 2 3 3 2 ...
 $ Statement12  : num [1:278] 4 3 3 4 4 1 2 2 1 4 ...
 $ Statement13  : num [1:278] 4 1 4 2 3 3 4 2 3 3 ...
 $ Statement14  : num [1:278] 1 3 3 1 4 1 1 4 3 3 ...
 $ Statment15   : num [1:278] 2 4 3 3 3 4 4 2 2 4 ...
 $ Statement16  : num [1:278] 1 3 2 4 2 3 2 4 4 4 ...
 $ Statement17  : num [1:278] 3 3 4 4 2 4 1 1 3 2 ...
 $ Statement18  : num [1:278] 4 3 3 3 4 1 3 3 3 4 ...
 $ Statement19  : num [1:278] 1 4 3 2 3 4 4 4 3 2 ...
 $ Statement20  : num [1:278] 1 2 1 2 3 4 3 4 2 3 ...
 - attr(*, "spec")=
  .. cols(
  ..   ParticipantID = col_character(),
  ..   Age = col_double(),
  ..   Statement1 = col_double(),
  ..   Statement2 = col_double(),
  ..   Statement3 = col_double(),
  ..   Statement4 = col_double(),
  ..   Statement5 = col_double(),
  ..   Statement6 = col_double(),
  ..   Statement7 = col_double(),
  ..   Statement8 = col_double(),
  ..   Statement9 = col_double(),
  ..   Statement10 = col_double(),
  ..   Statement11 = col_double(),
  ..   Statement12 = col_double(),
  ..   Statement13 = col_double(),
  ..   Statement14 = col_double(),
  ..   Statment15 = col_double(),
  ..   Statement16 = col_double(),
  ..   Statement17 = col_double(),
  ..   Statement18 = col_double(),
  ..   Statement19 = col_double(),
  ..   Statement20 = col_double()
  .. )

In [21]:
head(UCLA_Loneliness)

  ParticipantID     Age Statement1 Statement2 Statement3 Statement4 Statement5
1 ParticipantID_001 32  1          2          4          1          1
2 ParticipantID_002 52  2          3          2          1          2
3 ParticipantID_003 54  4          4          4          3          1
4 ParticipantID_004 41  4          1          1          1          3
5 ParticipantID_005 56  1          2          4          4          2
6 ParticipantID_006 58  4          3          2          3          4
  Statement6 Statement7 Statement8 ⋯ Statement11 Statement12 Statement13
1 1          4          1          ⋯ 1           4           4
2 4          1          4          ⋯ 3           3           1
3 3          2          1          ⋯ 2           3           4
4 2          1          1          ⋯ 1           4           2
5 2          4          3          ⋯ 2           4           3
6 3          1          1          ⋯ 3           1           3
  Statement14 Statment15 Statement16 Statement17 Statement18 Statement19
1 1           2          1           3           4           1
2 3           4          3           3           3           4
3 3           3          2           4           3           3
4 1           3          4           4           3           2
5 4           3          2           2           4           3
6 1           4          3           4           1           4
  Statement20
1 1
2 2
3 1
4 2
5 3
6 4

In [22]:
dim(UCLA_Loneliness)

[1] 278  22

In [116]:
WindowAvg <- function(DF,Field,AgeValue){
    localdata <- filter(DF,Age < AgeValue)
    colMeans(localdata[Field])
    
}

In [120]:
WindowAvg(DF=UCLA_Loneliness,Field="Statement1",AgeValue=50)

Statement1
  2.472222

In [45]:
str(UCLA_Loneliness["Statement1"])

tibble[,1] [278 × 1] (S3: tbl_df/tbl/data.frame)
 $ Statement1: num [1:278] 1 2 4 4 1 4 4 4 3 4 ...

In [48]:
colMeans(UCLA_Loneliness["Statement1"])

Statement1
  2.482014

In [25]:
mean(UCLA_Loneliness$Statement1)

[1] 2.482014

In [50]:
WindowAvg(UCLA_Loneliness,"Statement1")

Statement1
  2.482014

In [102]:
WindowAvg <- function(DF,FilterVar="Age",FilterValue,Field){
  require("tidyverse")
    (
      filter(DF, as.name(FilterVar) < FilterValue)
      #DF
      #%>% filter(FilterVar < FilterValue)
      #%>% select(as.name(Field))
      #%>% round(colMeans(as.name(Field)),2)
    )
}

In [103]:
WindowAvg(UCLA_Loneliness,FilterVar="Age",FilterValue=40,Field="Statement1")

Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     ParticipantID Age Statement1 Statement2 Statement3 Statement4 Statement5
     Statement6 Statement7 Statement8 ⋯ Statement11 Statement12 Statement13
     Statement14 Statment15 Statement16 Statement17 Statement18 Statement19
     Statement20