<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/Module3_Part2R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3 | Part 2 R: Data Verb - FILTER()

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

### Example 3.2.R
For this notebook, we will consider airline data from the Bureau of Transportation.  Using the form provided on their website, one is able to obtain a variety of information around flight delays.  Obtain the following information for the most recent month avaliable (Nov 2021 here). 

The following 18 fields will be considered here:

*   Day Information: DAY_OF_MONTH, DAY_OF_WEEK
*   Origin Information: ORIGIN, ORIGIN_STATE
*   Destination Information: DEST, DEST_STATE
*   Departure Information: DEP_TIME, DEP_DELAY, DEP_DELAY15, 
*   Arrival Information: ARR_TIME, ARR_DELAY, ARR_DEL15, 
*   Cause for Delay: CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY


<br>Data Source:  https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FGJ&QO_fu146_anzr=b0-gvzr

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

To begin, the <strong>tidyverse</strong> package will be used throughout this notebook; thus, load this package.

In [5]:
library(tidyverse)

Next, read the Ontime_Reporting.csv file into R.

In [38]:
Ontime<-read_csv('/content/sample_data/Ontime_Reporting.csv')

New names:
* `` -> ...18

Rows: 547559 Columns: 18
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (6): ORIGIN, ORIGIN_STATE_ABR, DEST, DEST_STATE_ABR, DEP_TIME, ARR_TIME
dbl (11): DAY_OF_MONTH, DAY_OF_WEEK, DEP_DELAY, DEP_DEL15, ARR_DELAY, ARR_DE...
lgl  (1): ...18

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Next, use dim() to get the number of rows and columns and the head() function to see the first few rows of this dataframe.

In [7]:
#Getting the dimension of the dataframe and taking a look at a few rows.
 
 cat("The dimension of the Ontime dataframe is: \n")
   dim(Ontime)
 
 cat("\n")
 
 cat("A printout of the Ontime dataframe:\n")
   head(Ontime)

The dimension of the Ontime dataframe is:

[1] 547559     18

A printout of the Ontime dataframe:

  DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR DEP_TIME
1 1            1           BDL    CT               IAD  VA             1938
2 1            1           LGA    NY               IAH  TX             1927
3 1            1           MIA    FL               IAD  VA             0842
4 1            1           DTW    MI               IAH  TX             1301
5 1            1           DFW    TX               IAD  VA             0743
6 1            1           SDF    KY               IAH  TX             1833
  DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY WEATHER_DELAY
1 -7        0         2143      25       1          0             0
2  7        0         2233     -10       0         NA            NA
3 -3        0         1125     -12       0         NA            NA
4  1        0         1503     -22       0         NA            NA
5 -2        0         1130      -9       0         NA            NA
6  0        0         2004      -4       0         NA            NA
  NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18
1 25         0              0                  NA
2 NA        NA             NA                  NA
3 NA        NA             NA                  NA
4 NA        NA             NA                  NA
5 NA        NA             NA                  NA
6 NA        NA             NA                  NA

In [36]:
str(Ontime)

spec_tbl_df [547,559 × 18] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ DAY_OF_MONTH       : num [1:547559] 1 1 1 1 1 1 1 1 1 1 ...
 $ DAY_OF_WEEK        : num [1:547559] 1 1 1 1 1 1 1 1 1 1 ...
 $ ORIGIN             : chr [1:547559] "BDL" "LGA" "MIA" "DTW" ...
 $ ORIGIN_STATE_ABR   : chr [1:547559] "CT" "NY" "FL" "MI" ...
 $ DEST               : chr [1:547559] "IAD" "IAH" "IAD" "IAH" ...
 $ DEST_STATE_ABR     : chr [1:547559] "VA" "TX" "VA" "TX" ...
 $ DEP_TIME           : chr [1:547559] "1938" "1927" "0842" "1301" ...
 $ DEP_DELAY          : num [1:547559] -7 7 -3 1 -2 0 -1 -6 26 -5 ...
 $ DEP_DEL15          : num [1:547559] 0 0 0 0 0 0 0 0 1 0 ...
 $ ARR_TIME           : chr [1:547559] "2143" "2233" "1125" "1503" ...
 $ ARR_DELAY          : num [1:547559] 25 -10 -12 -22 -9 -4 -5 -14 9 -9 ...
 $ ARR_DEL15          : num [1:547559] 1 0 0 0 0 0 0 0 0 0 ...
 $ CARRIER_DELAY      : num [1:547559] 0 NA NA NA NA NA NA NA NA NA ...
 $ WEATHER_DELAY      : num [1:547559] 0 NA NA NA NA NA NA NA NA NA ...
 $ NAS_DELAY          : num [1:547559] 25 NA NA NA NA NA NA NA NA NA ...
 $ SECURITY_DELAY     : num [1:547559] 0 NA NA NA NA NA NA NA NA NA ...
 $ LATE_AIRCRAFT_DELAY: num [1:547559] 0 NA NA NA NA NA NA NA NA NA ...
 $ ...18              : logi [1:547559] NA NA NA NA NA NA ...
 - attr(*, "spec")=
  .. cols(
  ..   DAY_OF_MONTH = col_double(),
  ..   DAY_OF_WEEK = col_double(),
  ..   ORIGIN = col_character(),
  ..   ORIGIN_STATE_ABR = col_character(),
  ..   DEST = col_character(),
  ..   DEST_STATE_ABR = col_character(),
  ..   DEP_TIME = col_character(),
  ..   DEP_DELAY = col_double(),
  ..   DEP_DEL15 = col_double(),
  ..   ARR_TIME = col_character(),
  ..   ARR_DELAY = col_double(),
  ..   ARR_DEL15 = col_double(),
  ..   CARRIER_DELAY = col_double(),
  ..   WEATHER_DELAY = col_double(),
  ..   NAS_DELAY = col_double(),
  ..   SECURITY_DELAY = col_double(),
  ..   LATE_AIRCRAFT_DELAY = col_double(),
  ..   ...18 = col_logical()
  .. )
 - attr(*, "problems")=<externalptr>

# Filter Actions on Strings

To begin, suppose the goal is to obtain only flights whose ORIGIN airport was Rochester, MN.  The airport code for Rochester, MN is <strong>RST</strong>.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1cZ49YcqPChfiBZP0Hq7Ahzxn4Sg3ktG-" width='25%' height='25%'></p>

In [8]:
#Getting only flights that left RST
(
  Ontime
  %>% filter(ORIGIN == "RST")

) -> RST

Looking at the dimension and a few rows of the RST dataframe.

In [10]:
#Getting the dimension of the dataframe and taking a look at a few rows.
 
 cat("The dimension of the RST dataframe is: \n")
   dim(RST)
 
 cat("\n")
 
 cat("A printout of the RST dataframe:\n")
   head(RST)

The dimension of the RST dataframe is:

[1] 183  18

A printout of the RST dataframe:

  DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR DEP_TIME
1 1            1           RST    MN               ORD  IL             0917
2 1            1           RST    MN               ORD  IL             0718
3 1            1           RST    MN               ORD  IL             1651
4 1            1           RST    MN               MSP  MN             1725
5 1            1           RST    MN               MSP  MN             0555
6 1            1           RST    MN               MSP  MN             1024
  DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY WEATHER_DELAY
1 -10       0         1021     -29       0         NA            NA
2  -7       0         0850       2       0         NA            NA
3  -9       0         1805     -21       0         NA            NA
4 -10       0         1817     -20       0         NA            NA
5  -5       0         0649      -9       0         NA            NA
6  -5       0         1115     -13       0         NA            NA
  NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18
1 NA        NA             NA                  NA
2 NA        NA             NA                  NA
3 NA        NA             NA                  NA
4 NA        NA             NA                  NA
5 NA        NA             NA                  NA
6 NA        NA             NA                  NA

Next, let us collect the rows where the ORIGIN airport is RST and the destination airport is MSP, i.e. Minneapolis, MN.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1c142gdrEPwS_j09pqK1x8kpQjYDYSs47" width='25%' height='25%'></p>

In [11]:
#Getting desired rows
(
  Ontime
  %>% filter(ORIGIN == "RST", DEST == "MSP")

) -> RST_to_MSP

Looking at the dimension and a few rows of the RST_to_MSP dataframe.

In [12]:
#Getting the dimension of the dataframe and taking a look at a few rows.
 
 cat("The dimension of the RST_to_MSP dataframe is: \n")
   dim(RST_to_MSP)
 
 cat("\n")
 
 cat("A printout of the RST_to_MSP dataframe:\n")
   head(RST_to_MSP)

The dimension of the RST_to_MSP dataframe is:

[1] 85 18

A printout of the RST_to_MSP dataframe:

  DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR DEP_TIME
1 1            1           RST    MN               MSP  MN             1725
2 1            1           RST    MN               MSP  MN             0555
3 1            1           RST    MN               MSP  MN             1024
4 2            2           RST    MN               MSP  MN             1723
5 2            2           RST    MN               MSP  MN             0556
6 2            2           RST    MN               MSP  MN             1024
  DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY WEATHER_DELAY
1 -10       0         1817     -20       0         NA            NA
2  -5       0         0649      -9       0         NA            NA
3  -5       0         1115     -13       0         NA            NA
4 -12       0         1808     -29       0         NA            NA
5  -4       0         0646     -12       0         NA            NA
6  -5       0         1105     -23       0         NA            NA
  NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18
1 NA        NA             NA                  NA
2 NA        NA             NA                  NA
3 NA        NA             NA                  NA
4 NA        NA             NA                  NA
5 NA        NA             NA                  NA
6 NA        NA             NA                  NA

Next, let us collect the rows where the ORIGIN airport is RST or the ORIGIN airport is DLH, i.e. Duluth, MN.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1zQzTj9PJkooEfkkaioffNW1O49Cocy7Y" width='25%' height='25%'></p>

In [13]:
#Getting desired rows
(
  Ontime
  %>% filter(ORIGIN == "RST" | ORIGIN == "DLH")

) -> RST_or_DLH

Looking at the dimension and a few rows of the RST_to_MSP dataframe.

In [15]:
#Getting the dimension of the dataframe and taking a look at a few rows.
 
 cat("The dimension of the RST_or_DLH dataframe is: \n")
   dim(RST_or_DLH)
 
 cat("\n")
 
 cat("A printout of the RST_or_DLH dataframe:\n")
   head(RST_or_DLH)

The dimension of the RST_or_DLH dataframe is:

[1] 329  18

A printout of the RST_or_DLH dataframe:

  DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR DEP_TIME
1 1            1           RST    MN               ORD  IL             0917
2 1            1           RST    MN               ORD  IL             0718
3 1            1           RST    MN               ORD  IL             1651
4 1            1           RST    MN               MSP  MN             1725
5 1            1           DLH    MN               MSP  MN             1926
6 1            1           RST    MN               MSP  MN             0555
  DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY WEATHER_DELAY
1 -10       0         1021     -29       0         NA            NA
2  -7       0         0850       2       0         NA            NA
3  -9       0         1805     -21       0         NA            NA
4 -10       0         1817     -20       0         NA            NA
5  -5       0         2025     -10       0         NA            NA
6  -5       0         0649      -9       0         NA            NA
  NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18
1 NA        NA             NA                  NA
2 NA        NA             NA                  NA
3 NA        NA             NA                  NA
4 NA        NA             NA                  NA
5 NA        NA             NA                  NA
6 NA        NA             NA                  NA

Next, let us collect the rows where the ORIGIN airport is RST or the ORIGIN airport is DLH, i.e. Duluth, MN and the destination is MSP.


Requested Rows: (ORIGIN is RST OR DLH) AND (DEST is MSP)

In [16]:
#Getting desired rows
(
  Ontime
  %>% filter(ORIGIN == "RST" | ORIGIN == "DLH")
  %>% filter(DEST == "MSP")
) -> RST_or_DLH_to_MSP


cat("The dimension of the RST_or_DLH_to_MSP dataframe is: \n")
   dim(RST_or_DLH_to_MSP)
 cat("\n")
 cat("A printout of the RST_or_DLH_to_MSP dataframe:\n")
   head(RST_or_DLH_to_MSP,20)

The dimension of the RST_or_DLH_to_MSP dataframe is:

[1] 231  18

A printout of the RST_or_DLH_to_MSP dataframe:

   DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR
1  1            1           RST    MN               MSP  MN
2  1            1           DLH    MN               MSP  MN
3  1            1           RST    MN               MSP  MN
4  1            1           RST    MN               MSP  MN
5  1            1           DLH    MN               MSP  MN
6  1            1           DLH    MN               MSP  MN
7  1            1           DLH    MN               MSP  MN
8  1            1           DLH    MN               MSP  MN
9  2            2           DLH    MN               MSP  MN
10 2            2           DLH    MN               MSP  MN
11 2            2           RST    MN               MSP  MN
12 2            2           DLH    MN               MSP  MN
13 2            2           RST    MN               MSP  MN
14 2            2           RST    MN               MSP  MN
15 2            2           DLH    MN               MSP  MN
16 2            2           DLH    MN               MSP  MN
17 3            3           RST    MN               MSP  MN
18 3            3           DLH    MN               MSP  MN
19 3            3           RST    MN               MSP  MN
20 3            3           RST    MN               MSP  MN
   DEP_TIME DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY
1  1725     -10       0         1817     -20       0         NA
2  1926      -5       0         2025     -10       0         NA
3  0555      -5       0         0649      -9       0         NA
4  1024      -5       0         1115     -13       0         NA
5  1720     -10       0         1815     -26       0         NA
6  1348       0       0         1449       4       0         NA
7  0600       0       0         0705       5       0         NA
8  0936       2       0         1026     -13       0         NA
9  0929      -5       0         1026     -13       0         NA
10 0559      -1       0         0653      -7       0         NA
11 1723     -12       0         1808     -29       0         NA
12 1921     -10       0         2019     -16       0         NA
13 0556      -4       0         0646     -12       0         NA
14 1024      -5       0         1105     -23       0         NA
15 1720     -10       0         1812     -29       0         NA
16 1332     -16       0         1434     -11       0         NA
17 1726      -9       0         1819     -18       0         NA
18 1935       4       0         2026      -9       0         NA
19 0555      -5       0         0706       8       0         NA
20 1024      -5       0         1107     -21       0         NA
   WEATHER_DELAY NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18
1  NA            NA        NA             NA                  NA
2  NA            NA        NA             NA                  NA
3  NA            NA        NA             NA                  NA
4  NA            NA        NA             NA                  NA
5  NA            NA        NA             NA                  NA
6  NA            NA        NA             NA                  NA
7  NA            NA        NA             NA                  NA
8  NA            NA        NA             NA                  NA
9  NA            NA        NA             NA                  NA
10 NA            NA        NA             NA                  NA
11 NA            NA        NA             NA                  NA
12 NA            NA        NA             NA                  NA
13 NA            NA        NA             NA                  NA
14 NA            NA        NA             NA                  NA
15 NA            NA        NA             NA                  NA
16 NA            NA        NA             NA                  NA
17 NA            NA        NA             NA                  NA
18 NA            NA        NA             NA                  NA
19 NA            NA        NA             NA                  NA
20 NA            NA        NA             NA                  NA

Next, let us collect the rows where the ORIGIN airport is anywhere in MN and destination is MSP.

In [19]:
#Getting desired rows
(
  Ontime
  %>% filter(ORIGIN_STATE_ABR == "MN")
  %>% filter(DEST == "MSP")
) -> MN_to_MSP

cat("The dimension of the MN_to_MSP dataframe is: \n")
   dim(MN_to_MSP)
cat("\n")
cat("A printout of the MN_to_MSP dataframe:\n")
   head(MN_to_MSP,20)

The dimension of the MN_to_MSP dataframe is:

[1] 441  18

A printout of the MN_to_MSP dataframe:

   DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR
1  1            1           RST    MN               MSP  MN
2  1            1           DLH    MN               MSP  MN
3  1            1           RST    MN               MSP  MN
4  1            1           RST    MN               MSP  MN
5  1            1           DLH    MN               MSP  MN
6  1            1           DLH    MN               MSP  MN
7  1            1           DLH    MN               MSP  MN
8  1            1           INL    MN               MSP  MN
9  1            1           BRD    MN               MSP  MN
10 1            1           HIB    MN               MSP  MN
11 1            1           BJI    MN               MSP  MN
12 1            1           BJI    MN               MSP  MN
13 1            1           INL    MN               MSP  MN
14 1            1           BRD    MN               MSP  MN
15 1            1           HIB    MN               MSP  MN
16 1            1           DLH    MN               MSP  MN
17 2            2           DLH    MN               MSP  MN
18 2            2           DLH    MN               MSP  MN
19 2            2           HIB    MN               MSP  MN
20 2            2           BJI    MN               MSP  MN
   DEP_TIME DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY
1  1725     -10       0         1817     -20       0         NA
2  1926      -5       0         2025     -10       0         NA
3  0555      -5       0         0649      -9       0         NA
4  1024      -5       0         1115     -13       0         NA
5  1720     -10       0         1815     -26       0         NA
6  1348       0       0         1449       4       0         NA
7  0600       0       0         0705       5       0         NA
8  1221      90       1         1325      84       1         84
9  1345     -12       0         1443      -7       0         NA
10 0653      -7       0         0741     -24       0         NA
11 0812      -3       0         0908     -10       0         NA
12 1442      -8       0         1548      -4       0         NA
13 1726       2       0         1848      10       0         NA
14 0600       0       0         0644     -13       0         NA
15 1030      -4       0         1117     -18       0         NA
16 0936       2       0         1026     -13       0         NA
17 0929      -5       0         1026     -13       0         NA
18 0559      -1       0         0653      -7       0         NA
19 0659      -1       0         0745     -20       0         NA
20 0809      -6       0         0912      -6       0         NA
   WEATHER_DELAY NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18
1  NA            NA        NA             NA                  NA
2  NA            NA        NA             NA                  NA
3  NA            NA        NA             NA                  NA
4  NA            NA        NA             NA                  NA
5  NA            NA        NA             NA                  NA
6  NA            NA        NA             NA                  NA
7  NA            NA        NA             NA                  NA
8   0             0         0              0                  NA
9  NA            NA        NA             NA                  NA
10 NA            NA        NA             NA                  NA
11 NA            NA        NA             NA                  NA
12 NA            NA        NA             NA                  NA
13 NA            NA        NA             NA                  NA
14 NA            NA        NA             NA                  NA
15 NA            NA        NA             NA                  NA
16 NA            NA        NA             NA                  NA
17 NA            NA        NA             NA                  NA
18 NA            NA        NA             NA                  NA
19 NA            NA        NA             NA                  NA
20 NA            NA        NA             NA                  NA

Question:  What happens to departures from MSP and arrivals to MSP?

In [23]:
#Getting desired rows
(
  Ontime
  %>% filter(ORIGIN == "MSP")
  %>% filter(DEST == "MSP")
) -> MN

dim(MN)

[1]  0 18

Next, let us consider the various airports across MN.  


*   How many are there?
*   Where are they located?

In [24]:
#Airports across MN
(
  Ontime
  %>% filter(ORIGIN_STATE_ABR == "MN")
  %>% group_by(ORIGIN)
  %>% summarise(Count=n())
 )

  ORIGIN Count
1 BJI       60
2 BRD       50
3 DLH      146
4 HIB       50
5 INL       50
6 MSP    10372
7 RST      183
8 STC        8

Another way to identify the various airports is to use the <strong>distinct()</strong> function.

In [25]:
#Getting only RST
(
  Ontime
  %>% filter(ORIGIN_STATE_ABR == "MN")
  %>% distinct(ORIGIN)
 )

  ORIGIN
1 MSP
2 RST
3 DLH
4 INL
5 BRD
6 HIB
7 BJI
8 STC

Next, let us collect the rows where the ORIGIN airport is in MN and purposely exclude MSP.  This will be done here with a sequence of <strong>OR</strong> statements.




<p align='center'><img src="https://drive.google.com/uc?export=view&id=1hMSS_XOgk5izrSa1PNvKSiWkM62c9xMn" width='25%' height='25%'></p>

In [27]:
#Getting the desired rows
(
  Ontime
  %>% filter(ORIGIN == "BJI" | ORIGIN == "BRD" | ORIGIN == "DLH" | ORIGIN == "HIB" | ORIGIN == "INL" | ORIGIN == "RST" | ORIGIN == "STC"  )
 ) -> MN

cat("The dimension of the MN dataframe is: \n")
   dim(MN)

The dimension of the MN dataframe is:

[1] 547  18

Next, let us collect the rows where the ORIGIN airport is in MN and purposely exclude MSP.  This code will use the the <strong>IN()</strong> option instead of a sequence of OR statements.

In [57]:
#Getting the desired rows
(
  Ontime
  %>% filter(ORIGIN %in% c("BJI", "BRD", "DLH", "HIB","INL", "RST", "STC") )
 ) -> MN

cat("The dimension of the MN dataframe is: \n")
   dim(MN)
cat("\n")

The dimension of the MN dataframe is:

[1] 547  18

One more iteration for ORIGIN airport is in MN and purposely exclude MSP.  This code will use the the <strong>!=()</strong>, i.e. not equal, option instead of a sequence of OR statements or IN() option.

In [58]:
#Getting only RST
(
  Ontime
  %>% filter(ORIGIN_STATE_ABR == "MN")
  %>% filter(ORIGIN != "MSP")
 ) -> MN

cat("The dimension of the MN dataframe is: \n")
   dim(MN)
cat("\n")

The dimension of the MN dataframe is:

[1] 547  18

# Filter Action with NA



The following code is used to <strong>drop all </strong> missing from a dataframe.

In [59]:
#Getting desired rows
(
  Ontime
  %>% filter(ORIGIN == "RST")
  %>% drop_na() 
 ) -> RST_NoNA

 dim(RST_NoNA)
 head(RST_NoNA)

[1]  0 18

     DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR
     DEP_TIME DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY
     WEATHER_DELAY NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18

The following variation will exclude only NAs for the variable CARRIER_DELAY.

In [60]:
#Getting the desired rows
(
  Ontime
  %>% filter(ORIGIN == "RST")
  %>% drop_na(CARRIER_DELAY	) 
 ) -> RST_NoNA_Carrier

 dim(RST_NoNA_Carrier)
 head(RST_NoNA_Carrier,25)

[1] 14 18

   DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR
1   4           4           RST    MN               ORD  IL
2   7           7           RST    MN               MSP  MN
3   9           2           RST    MN               ORD  IL
4  11           4           RST    MN               ATL  GA
5  12           5           RST    MN               MSP  MN
6  12           5           RST    MN               ORD  IL
7  13           6           RST    MN               MSP  MN
8  14           7           RST    MN               MSP  MN
9  14           7           RST    MN               MSP  MN
10 15           1           RST    MN               ORD  IL
11 15           1           RST    MN               MSP  MN
12 18           4           RST    MN               MSP  MN
13 18           4           RST    MN               MSP  MN
14 29           1           RST    MN               MSP  MN
   DEP_TIME DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY
1  1618      93       1         1733      80       1           3
2  1911      76       1         1959      62       1          62
3  1516     299       1         1630     285       1         285
4  1644      -1       0         2028      30       1           0
5  0554      -6       0         0715      15       1          15
6  1009      -8       0         1215      30       1           0
7  1500     255       1         1549     247       1           0
8  1159      74       1         1249      67       1           0
9  1839      44       1         1923      26       1          26
10 1517      32       1         1630      17       1           2
11 1005     245       1         1046     226       1         226
12 1754      -1       0         1912      15       1          15
13 1101      16       1         1157      15       1           0
14 0639      39       1         0728      28       1          28
   WEATHER_DELAY NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18
1    0            0        0              77                  NA
2    0            0        0               0                  NA
3    0            0        0               0                  NA
4    0           30        0               0                  NA
5    0            0        0               0                  NA
6    0           30        0               0                  NA
7  247            0        0               0                  NA
8   67            0        0               0                  NA
9    0            0        0               0                  NA
10   0            0        0              15                  NA
11   0            0        0               0                  NA
12   0            0        0               0                  NA
13  15            0        0               0                  NA
14   0            0        0               0                  NA

# Filter Action on Numbers

Consider again the RST dataframe for which there was a delay.

In [61]:
 head(RST_NoNA_Carrier,25)

   DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR
1   4           4           RST    MN               ORD  IL
2   7           7           RST    MN               MSP  MN
3   9           2           RST    MN               ORD  IL
4  11           4           RST    MN               ATL  GA
5  12           5           RST    MN               MSP  MN
6  12           5           RST    MN               ORD  IL
7  13           6           RST    MN               MSP  MN
8  14           7           RST    MN               MSP  MN
9  14           7           RST    MN               MSP  MN
10 15           1           RST    MN               ORD  IL
11 15           1           RST    MN               MSP  MN
12 18           4           RST    MN               MSP  MN
13 18           4           RST    MN               MSP  MN
14 29           1           RST    MN               MSP  MN
   DEP_TIME DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY
1  1618      93       1         1733      80       1           3
2  1911      76       1         1959      62       1          62
3  1516     299       1         1630     285       1         285
4  1644      -1       0         2028      30       1           0
5  0554      -6       0         0715      15       1          15
6  1009      -8       0         1215      30       1           0
7  1500     255       1         1549     247       1           0
8  1159      74       1         1249      67       1           0
9  1839      44       1         1923      26       1          26
10 1517      32       1         1630      17       1           2
11 1005     245       1         1046     226       1         226
12 1754      -1       0         1912      15       1          15
13 1101      16       1         1157      15       1           0
14 0639      39       1         0728      28       1          28
   WEATHER_DELAY NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18
1    0            0        0              77                  NA
2    0            0        0               0                  NA
3    0            0        0               0                  NA
4    0           30        0               0                  NA
5    0            0        0               0                  NA
6    0           30        0               0                  NA
7  247            0        0               0                  NA
8   67            0        0               0                  NA
9    0            0        0               0                  NA
10   0            0        0              15                  NA
11   0            0        0               0                  NA
12   0            0        0               0                  NA
13  15            0        0               0                  NA
14   0            0        0               0                  NA

The average carrier delay can be computed as follows.

In [63]:
#Getting the average
(
  Ontime
  %>% filter(ORIGIN == "RST")
  %>% drop_na(CARRIER_DELAY)
  %>% summarize(Avg_Carrier_Delay = mean(CARRIER_DELAY)) 
 )

  Avg_Carrier_Delay
1 47.28571

Question: Why do these average calcuations not agree?

In [64]:
#Fixing the problem...
(
  Ontime
  %>% filter(ORIGIN == "RST")
  %>% drop_na(CARRIER_DELAY)
  %>% filter(CARRIER_DELAY > 0)
  %>% summarize(Avg_Carrier_Delay = mean(CARRIER_DELAY)) 
 )

  Avg_Carrier_Delay
1 73.55556

Question:  What does the followign code do?

In [65]:
#Getting only RST
(
  Ontime
  %>% filter(ORIGIN == "RST")
  %>% drop_na(CARRIER_DELAY)
  %>% filter(CARRIER_DELAY == 0)
 ) -> RST_NoNA_CarrierDelay_is_0

dim(RST_NoNA_CarrierDelay_is_0)
head(RST_NoNA_CarrierDelay_is_0,12)

[1]  5 18

  DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR DEP_TIME
1 11           4           RST    MN               ATL  GA             1644
2 12           5           RST    MN               ORD  IL             1009
3 13           6           RST    MN               MSP  MN             1500
4 14           7           RST    MN               MSP  MN             1159
5 18           4           RST    MN               MSP  MN             1101
  DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY WEATHER_DELAY
1  -1       0         2028      30       1         0               0
2  -8       0         1215      30       1         0               0
3 255       1         1549     247       1         0             247
4  74       1         1249      67       1         0              67
5  16       1         1157      15       1         0              15
  NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18
1 30        0              0                   NA
2 30        0              0                   NA
3  0        0              0                   NA
4  0        0              0                   NA
5  0        0              0                   NA

Question:  What does the followign code do?

In [68]:
#Getting only RST
(
  Ontime
  %>% filter(ORIGIN == "RST")
  %>% drop_na(CARRIER_DELAY)
  %>% filter(CARRIER_DELAY > 0, WEATHER_DELAY > 0)
 ) -> RST_NoNA_CarrierDelay_Above0_and_WeatherDelay_Above0

dim(RST_NoNA_CarrierDelay_Above0_and_WeatherDelay_Above0)
head(RST_NoNA_CarrierDelay_Above0_and_WeatherDelay_Above0,12)

[1]  0 18

     DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR
     DEP_TIME DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY
     WEATHER_DELAY NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18

Question:  What does the followign code do?

In [69]:
#Getting only RST
(
  Ontime
  %>% filter(ORIGIN == "RST")
  %>% drop_na(CARRIER_DELAY)
  %>% filter(CARRIER_DELAY > 0 | WEATHER_DELAY > 0)
 ) -> RST_NoNA_CarrierDelay_Above0_or_WeatherDelay_Above0

dim(RST_NoNA_CarrierDelay_Above0_or_WeatherDelay_Above0)
head(RST_NoNA_CarrierDelay_Above0_or_WeatherDelay_Above0,12)

[1] 12 18

   DAY_OF_MONTH DAY_OF_WEEK ORIGIN ORIGIN_STATE_ABR DEST DEST_STATE_ABR
1   4           4           RST    MN               ORD  IL
2   7           7           RST    MN               MSP  MN
3   9           2           RST    MN               ORD  IL
4  12           5           RST    MN               MSP  MN
5  13           6           RST    MN               MSP  MN
6  14           7           RST    MN               MSP  MN
7  14           7           RST    MN               MSP  MN
8  15           1           RST    MN               ORD  IL
9  15           1           RST    MN               MSP  MN
10 18           4           RST    MN               MSP  MN
11 18           4           RST    MN               MSP  MN
12 29           1           RST    MN               MSP  MN
   DEP_TIME DEP_DELAY DEP_DEL15 ARR_TIME ARR_DELAY ARR_DEL15 CARRIER_DELAY
1  1618      93       1         1733      80       1           3
2  1911      76       1         1959      62       1          62
3  1516     299       1         1630     285       1         285
4  0554      -6       0         0715      15       1          15
5  1500     255       1         1549     247       1           0
6  1159      74       1         1249      67       1           0
7  1839      44       1         1923      26       1          26
8  1517      32       1         1630      17       1           2
9  1005     245       1         1046     226       1         226
10 1754      -1       0         1912      15       1          15
11 1101      16       1         1157      15       1           0
12 0639      39       1         0728      28       1          28
   WEATHER_DELAY NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY ...18
1    0           0         0              77                  NA
2    0           0         0               0                  NA
3    0           0         0               0                  NA
4    0           0         0               0                  NA
5  247           0         0               0                  NA
6   67           0         0               0                  NA
7    0           0         0               0                  NA
8    0           0         0              15                  NA
9    0           0         0               0                  NA
10   0           0         0               0                  NA
11  15           0         0               0                  NA
12   0           0         0               0                  NA



---



---
End of Document