<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/Module1_Part1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 1 | Part 1: Reading in Data from Current Colab Session

There are two steps involved with reading in data from the current colab session.

1.   Upload a copy of the data into the current colab session
2.   Read the data into R

## Uploading Data into Current Colab Session

A colab session is a temporary.  A session opens when a file Notebook is opened and closes upon exising the browser tab.

<img src="https://drive.google.com/uc?export=view&id=17ozQuchHHuObCsTLmsNArmRhQmV17M6-"></img>1HiPuxHQx8CukWkvwxXiq9KCpVSgb_goW

<img src="https://drive.google.com/uc?export=view&id=1HiPuxHQx8CukWkvwxXiq9KCpVSgb_goW"></img>

Austin Animal Center Outcomes: [Link](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238)

In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [4]:
AustinData <- read_csv("/content/sample_data/Austin_Animal_Center_Outcomes.csv")

── Column specification ────────────────────────────────────────────────────────
cols(
  `Animal ID` = col_character(),
  Name = col_character(),
  DateTime = col_character(),
  MonthYear = col_character(),
  `Date of Birth` = col_character(),
  `Outcome Type` = col_character(),
  `Outcome Subtype` = col_character(),
  `Animal Type` = col_character(),
  `Sex upon Outcome` = col_character(),
  `Age upon Outcome` = col_character(),
  Breed = col_character(),
  Color = col_character()
)

In [6]:
ls()

[1] "AustinData"

In [7]:
head(AustinData)

  Animal ID Name     DateTime               MonthYear
1 A794011   Chunk    05/08/2019 06:20:00 PM 05/08/2019 06:20:00 PM
2 A776359   Gizmo    07/18/2018 04:02:00 PM 07/18/2018 04:02:00 PM
3 A821648   NA       08/16/2020 11:38:00 AM 08/16/2020 11:38:00 AM
4 A720371   Moose    02/13/2016 05:59:00 PM 02/13/2016 05:59:00 PM
5 A674754   NA       03/18/2014 11:47:00 AM 03/18/2014 11:47:00 AM
6 A659412   Princess 10/05/2020 02:37:00 PM 10/05/2020 02:37:00 PM
  Date of Birth Outcome Type Outcome Subtype Animal Type Sex upon Outcome
1 05/02/2017    Rto-Adopt    NA              Cat         Neutered Male
2 07/12/2017    Adoption     NA              Dog         Neutered Male
3 08/16/2019    Euthanasia   NA              Other       Unknown
4 10/08/2015    Adoption     NA              Dog         Neutered Male
5 03/12/2014    Transfer     Partner         Cat         Intact Male
6 03/24/2013    Adoption     NA              Dog         Spayed Female
  Age upon Outcome Breed                              Color
1 2 years          Domestic Shorthair Mix             Brown Tabby/White
2 1 year           Chihuahua Shorthair Mix            White/Brown
3 1 year           Raccoon                            Gray
4 4 months         Anatol Shepherd/Labrador Retriever Buff
5 6 days           Domestic Shorthair Mix             Orange Tabby
6 7 years          Chihuahua Shorthair Mix            Brown

In [8]:
tail(AustinData)

  Animal ID Name     DateTime               MonthYear
1 A826773   *Nod     01/13/2021 02:20:00 PM 01/13/2021 02:20:00 PM
2 A821612   *Brocade 01/13/2021 02:10:00 PM 01/13/2021 02:10:00 PM
3 A820541   Ollie    07/22/2020 03:23:00 PM 07/22/2020 03:23:00 PM
4 A828206   Baby     01/13/2021 02:31:00 PM 01/13/2021 02:31:00 PM
5 A825801   *Hero    01/13/2021 02:07:00 PM 01/13/2021 02:07:00 PM
6 A827682   NA       01/13/2021 03:11:00 PM 01/13/2021 03:11:00 PM
  Date of Birth Outcome Type    Outcome Subtype Animal Type Sex upon Outcome
1 11/05/2020    Adoption        Foster          Cat         Neutered Male
2 07/08/2020    Adoption        Foster          Cat         Neutered Male
3 06/22/2020    Transfer        Partner         Dog         Intact Male
4 07/11/2020    Return to Owner NA              Dog         Intact Female
5 11/12/2011    Adoption        Foster          Dog         Neutered Male
6 12/29/2017    Transfer        Snr             Cat         Neutered Male
  Age upon Outcome Breed                                  Color
1 2 months         Domestic Shorthair                     Brown Tabby/White
2 6 months         Domestic Shorthair                     Blue Tabby/White
3 4 weeks          Shih Tzu/Chihuahua Shorthair           Brown
4 6 months         Flat Coat Retriever Mix                Black/White
5 9 years          Labrador Retriever/Australian Shepherd Tricolor
6 3 years          Domestic Shorthair                     White

In [9]:
dim(AustinData)

[1] 123591     12

In [ ]:
AustinData

In [14]:
nrow(AustinData)

[1] 123591

In [15]:
ncol(AustinData)

[1] 12

In [16]:
str(AustinData)

tibble [123,591 × 12] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Animal ID       : chr [1:123591] "A794011" "A776359" "A821648" "A720371" ...
 $ Name            : chr [1:123591] "Chunk" "Gizmo" NA "Moose" ...
 $ DateTime        : chr [1:123591] "05/08/2019 06:20:00 PM" "07/18/2018 04:02:00 PM" "08/16/2020 11:38:00 AM" "02/13/2016 05:59:00 PM" ...
 $ MonthYear       : chr [1:123591] "05/08/2019 06:20:00 PM" "07/18/2018 04:02:00 PM" "08/16/2020 11:38:00 AM" "02/13/2016 05:59:00 PM" ...
 $ Date of Birth   : chr [1:123591] "05/02/2017" "07/12/2017" "08/16/2019" "10/08/2015" ...
 $ Outcome Type    : chr [1:123591] "Rto-Adopt" "Adoption" "Euthanasia" "Adoption" ...
 $ Outcome Subtype : chr [1:123591] NA NA NA NA ...
 $ Animal Type     : chr [1:123591] "Cat" "Dog" "Other" "Dog" ...
 $ Sex upon Outcome: chr [1:123591] "Neutered Male" "Neutered Male" "Unknown" "Neutered Male" ...
 $ Age upon Outcome: chr [1:123591] "2 years" "1 year" "1 year" "4 months" ...
 $ Breed           : chr [1:123591] "Domestic Shorthair Mix" "Chihuahua Shorthair Mix" "Raccoon" "Anatol Shepherd/Labrador Retriever" ...
 $ Color           : chr [1:123591] "Brown Tabby/White" "White/Brown" "Gray" "Buff" ...
 - attr(*, "spec")=
  .. cols(
  ..   `Animal ID` = col_character(),
  ..   Name = col_character(),
  ..   DateTime = col_character(),
  ..   MonthYear = col_character(),
  ..   `Date of Birth` = col_character(),
  ..   `Outcome Type` = col_character(),
  ..   `Outcome Subtype` = col_character(),
  ..   `Animal Type` = col_character(),
  ..   `Sex upon Outcome` = col_character(),
  ..   `Age upon Outcome` = col_character(),
  ..   Breed = col_character(),
  ..   Color = col_character()
  .. )

In [17]:
AustinData2 <- read.csv("/content/sample_data/Austin_Animal_Center_Outcomes.csv")

In [18]:
str(AustinData2)

'data.frame':	123591 obs. of  12 variables:
 $ Animal.ID       : chr  "A794011" "A776359" "A821648" "A720371" ...
 $ Name            : chr  "Chunk" "Gizmo" "" "Moose" ...
 $ DateTime        : chr  "05/08/2019 06:20:00 PM" "07/18/2018 04:02:00 PM" "08/16/2020 11:38:00 AM" "02/13/2016 05:59:00 PM" ...
 $ MonthYear       : chr  "05/08/2019 06:20:00 PM" "07/18/2018 04:02:00 PM" "08/16/2020 11:38:00 AM" "02/13/2016 05:59:00 PM" ...
 $ Date.of.Birth   : chr  "05/02/2017" "07/12/2017" "08/16/2019" "10/08/2015" ...
 $ Outcome.Type    : chr  "Rto-Adopt" "Adoption" "Euthanasia" "Adoption" ...
 $ Outcome.Subtype : chr  "" "" "" "" ...
 $ Animal.Type     : chr  "Cat" "Dog" "Other" "Dog" ...
 $ Sex.upon.Outcome: chr  "Neutered Male" "Neutered Male" "Unknown" "Neutered Male" ...
 $ Age.upon.Outcome: chr  "2 years" "1 year" "1 year" "4 months" ...
 $ Breed           : chr  "Domestic Shorthair Mix" "Chihuahua Shorthair Mix" "Raccoon" "Anatol Shepherd/Labrador Retriever" ...
 $ Color           : chr  "Brown Tabby/White" "White/Brown" "Gray" "Buff" ...

In [20]:
group.type <- dplyr::group_by(AustinData,`Animal Type`)
dplyr::summarise(group.type,Count=n())

`summarise()` ungrouping output (override with `.groups` argument)

  Animal Type Count
1 Bird          581
2 Cat         46495
3 Dog         69946
4 Livestock      20
5 Other        6549