<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/Module3_Part1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3 | Part 1 | Python: SELECT()

This notebook will discuss the use of the SELECT() data verb in Python.

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

### Example 3.1.1P
Consider the employement rates of various countries around the world. This data is presented for each quarter over a three year period. 


*   Q1: January - March
*   Q2: April - June
*   Q3: July - September
*   Q4: October - December


 
<br>Original Data Source: https://stats.oecd.org/Index.aspx?DatasetCode=STLABOUR#

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>



A snipit of the <strong>OECD_EmploymentRates</strong> data set is provided here.

<strong>Note</strong>: In Python, the column (and row) numbers start with 0 (not 1).

<p align='center'><img src="https://drive.google.com/uc?export=view&id=16gPBcOT8HEw4TrTrBHiToPqPMAta5ujp"></p>

Currently, the most common Python package for the management and manuipulation of data is pandas.

The followin command will import this package.  Partiuclar functions within pandas are invoked through a chaining of names.  The local name for the pandas suite of functions is <strong>pd</strong> here.

In [1]:
import pandas as pd

Now, to invoke the <strong>read_csv()</strong> function within the pandas package, the following syntax is used <strong>pd.read_csv()</strong>.  The name of the dataframe being read into Python is EmploymentData.

In [3]:
 EmploymentRates = pd.read_csv("/content/sample_data/OECD_EmploymentRates.csv")

To view the first few lines of the EmploymentRates dataframe, the following command is used.

In [4]:
EmploymentRates.head()

     Country            WorldRegion  Q1_Year1  ...  Q2_Year3  Q3_Year3  Q4_Year3
0  Australia                Oceania      73.7  ...      70.5      72.0      73.5
1    Austria                 Europe      72.8  ...      71.4      72.7       NaN
2    Belgium                 Europe      64.1  ...      64.5      64.9       NaN
3     Canada          North America      73.4  ...      64.7      70.2      72.0
4      Chile  South/Central America      64.3  ...      51.2      52.6      56.3

[5 rows x 14 columns]

## Base Python

The iloc, short for index location, can be used to specify paricular columns (and rows).



<p align='center'><img src="https://drive.google.com/uc?export=view&id=1YCwYxCvEEX3J-UPX5IcRULy33xTZYTZk"></p>

The following can be used to get the first 6 columns of the EmploymentData dataframe. The : is a placeholder and specifies that *all* rows should be included.

<strong>Note:</strong>: The columns retrieved are columns 0 through 5 here.

In [ ]:
EmploymentRates.iloc[:,0:6]

The following variation can be used to select columns be name (instead of position).

In [6]:
Year1Data = EmploymentRates[["Q1_Year1","Q2_Year1","Q3_Year1","Q4_Year1"]]

Using the head() function to look at the first few rows of this dataframe.

In [ ]:
Year1Data.head(15)

## dfply package

The following <strong>pip</strong> command is used to download the code for a python package called dfply.  The dfply package is akin to dplyr in R.

In [10]:
pip install dfply

Collecting dfply
  Downloading dfply-0.3.3-py3-none-any.whl (612 kB)
     |████████████████████████████████| 612 kB 5.2 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from dfply) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from dfply) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->dfply) (1.15.0)
Installing collected packages: dfply
Successfully installed dfply-0.3.3

The dfply code has been downloaded, not import this code into the current iPython Notebook.  A name is not be specifed hear for the dfply package.

In [11]:
from dfply import *

Using the select() function within the dfply package to select the Country and WorldRegion fieds.  Consider the following specifictions in this code.


*   Piping in dfply is accomplished using >>
*   The open and closed parentheses are used to group the sequence of commands
*   The X. is used to generically identify the dataframe being passed into the select() function.
*   The name of the returned dataframe is mysubet

In [12]:
#Piping in dfply and using select() to grab first two columns.
mysubset = (
             EmploymentRates
             >> select(X.Country,X.WorldRegion)
           )

Verify that the desired output is correct.

In [13]:
mysubset.head()

     Country            WorldRegion
0  Australia                Oceania
1    Austria                 Europe
2    Belgium                 Europe
3     Canada          North America
4      Chile  South/Central America

Similar to other languages, there exists a <strong>negation</strong> argument.  The ~ character is used for negation.

In [ ]:
#Using ~ as a negation in the selection
mysubset = (
             EmploymentRates
             >> select(~X.WorldRegion)
           )

mysubset.head()

Similar to dplyr, there exist <strong>helper</strong> functions such as contains() to match particular patterns in the field names.  The following will return: Country, WorldRegion, and any columns whose name contains Year1.

In [15]:
#Using contains() function inside select()
mysubset = (
          EmploymentRates 
          >> select(X.Country,X.WorldRegion,contains("Year1"))
)

mysubset.head()

     Country            WorldRegion  Q1_Year1  Q2_Year1  Q3_Year1  Q4_Year1
0  Australia                Oceania      73.7      73.6      73.7      74.0
1    Austria                 Europe      72.8      73.1      73.1      73.1
2    Belgium                 Europe      64.1      63.9      64.8      65.1
3     Canada          North America      73.4      73.4      73.6      73.8
4      Chile  South/Central America      64.3      64.3      63.7      64.0



---

<strong>Questions</strong>:


1.   Investigation whether or not dfply has a starts_with() function.  If so, modify the code above to select Country, WorldRegion, and columns that start with Q1.
2.   The df.info() method is similar to the str() command in R.  Figure out how to use the .info() method to investigate the structure of the mysubset dataframe in the code above.