<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/Module3_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3 | Part 1: Data Verb - SELECT()

There are a variety of actions that are commonly used to manage/manipulate data. These actions are known as <strong>data verbs</strong>.  Some of the most common data verbs are:


*   SELECT(); manipulation of columns
*   FILTER(); manipulation of rows
*   SUMMARISE(); provide summaries for fields within a data frame

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

### Example 3.1.1
Consider the unemployement rates of various countries around the world. This data is presented for each quarter over a three year period. 



*   Q1: January - March
*   Q2: April - June
*   Q3: July - September
*   Q4: October - December


 
<br><i>Data Source</i>: https://stats.oecd.org/Index.aspx?DatasetCode=STLABOUR#

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

A snipit of the <strong>World_Unemployment_Rates</strong> data set is provided here.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1S6b4xk0KgbxvulpWMh4ZL7NXh5j-3I6d"></p>

## Data Frame Structure

A <strong>data frame</strong> is the name used to describe the most common structure for which a data table is stored in R and Python.  In other systems, e.g. spreadsheets, databases, these are commonly referred to as <stong>tables</strong>.
<p align='center'><img src="https://drive.google.com/uc?export=view&id=1c6y4S-J3GlPuc2gqXQZC4IO3Hkv4zgjd"></p>

There are two ways in which one identifies columns/rows within a data frame.  In either case, the column/row identifiers shoudl be unique. 


*   Use Numbers: Columns/Rows can be identifed by number (R starts with 1 / Python starts with 0)
*   Use Names: Columns/Rows can be identifed by name



<table border='1'>
 <tr>
 <td align='center' width='50%'><font size='+2'>Refer to Column/Row Numbers</font></td>
 <td align='center' width='50%'><font size='+2'>Refer to Column/Row Names</font></td>
 <tr>
 <td align='center' valign='top' width='50%'><img src="https://drive.google.com/uc?export=view&id=1CGlSA8dWUXcprmG1HqO6KVogUCKl-mtM"></td>
 <td align='center'  valign='top' width='50%'><img src="https://drive.google.com/uc?export=view&id=1wh7oMFsmZ0FipGkY7nZq4L29PMH1kKdV"></td>

 </tr>

The most common approach is a combination of names / numbers with names being used for columns and numbers being used for rows.



<p align='center'><img src="https://drive.google.com/uc?export=view&id=1t5ks7m3pG6F7fGWJGRH45woibLc_pLmD"></p>

An entity within the data frame is called a <strong>value</strong>.



<p align='center'><img src="https://drive.google.com/uc?export=view&id=1Gb8metBviX5ZeCwIWFO-en6wV5_r8FHf"></p>