<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/Module3_Part3_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3 | Part 3 | SQL : MUTATE() Actions in SQL

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

### Example 3.3.1 SQL
For this notebook, consider the Nursing Home Provider dataset.  The datasets is published by the Centers for Medicare and Medicade Services.

<table>
<tr>
<td colspan="2" align='center'>Fields in Dataset</td>
</tr>
<tr>
<td valign='top' align='left'>
1: FPN (Federal Provider Number)<br>
2: ProviderName<br>
3: ProviderAddress<br>
4: ProviderCounty<br>
5: OwnershipType<br><br>
6: NumberBeds<br>
7: AverageResidentsperDay<br><br>
8: ProviderInHospital<br>
9: BusinessName<br>
10: ContinuingCareRetirementCommunity<br><br>
11: HealthInspection_MoreThan2YearsAgo<br>
12: Overall_Rating<br>
13: HealthInspection_Rating<br>
14: QM_Rating<br>
15: LongStayQM_Rating<br>
16: ShortStayQM_Rating<br>
17: Staffing_Rating<br>
18: RNStaffing_Rating<br>
</td>
<td valign='top' align='left'>
19: NurseAideStaffing_Hours<br>
20: LPNStaffing_Hours<br>
21: RNStaffing_Hours<br>
22: LicensedStaffing_Hours<br>
23: TotalNurseStaffing_Hours<br>
24: PhysicalTherapistStaffing_Hours<br><br>
25: RatingCycle1_Date<br>
26: RatingCycle1_HealthDeficiencyScore<br>
27: RatingCycle2_Date<br>
28: RatingCycle2_HealthDeficiencyScore<br>
29: RatingCycle3_Date<br>
30: RatingCycle3_HealthDeficiencyScore<br><br>
31: NumberofFines<br>
32: TotalAmountFines<br>
</td>
</tr>
</table>

 
<br>Original Data Source: https://data.cms.gov/provider-data/search?theme=Nursing%20homes%20including%20rehab%20services

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

## Making a Connection

Here, an SQLite3 package will be used to connect to the desired database.

In [2]:
import pandas as pd
import sqlite3

# Getting Table Names and Structure

Doing an initial query to identify the table within this database.

In [5]:
#Making a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
df = pd.read_sql_query(
                        "SELECT name FROM sqlite_master WHERE type='table'"
                          , connect_db)
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head()

        name
0  Providers

Next, getting the structure of the the <strong>Providers</strong> table.

In [9]:
#Makign a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
df = pd.read_sql_query(
                        "PRAGMA table_info(Providers)"
                          , connect_db)
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head(50)

    cid                                name  ... dflt_value  pk
0     0                                 FPN  ...       None   1
1     1                        ProviderName  ...       None   0
2     2                     ProviderAddress  ...       None   0
3     3                      ProviderCounty  ...       None   0
4     4                       OwnershipType  ...       None   0
5     5                          NumberBeds  ...       None   0
6     6              AverageResidentsperDay  ...       None   0
7     7                  ProviderInHospital  ...       None   0
8     8                        BusinessName  ...       None   0
9     9   ContinuingCareRetirementCommunity  ...       None   0
10   10  HealthInspection_MoreThan2YearsAgo  ...       None   0
11   11                      Overall_Rating  ...       None   0
12   12             HealthInspection_Rating  ...       None   0
13   13                           QM_Rating  ...       None   0
14   14                   LongStayQM_Rating  ...       None   0
15   15                  ShortStayQM_Rating  ...       None   0
16   16                     Staffing_Rating  ...       None   0
17   17                   RNStaffing_Rating  ...       None   0
18   18             NurseAideStaffing_Hours  ...       None   0
19   19                   LPNStaffing_Hours  ...       None   0
20   20                    RNStaffing_Hours  ...       None   0
21   21              LicensedStaffing_Hours  ...       None   0
22   22            TotalNurseStaffing_Hours  ...       None   0
23   23     PhysicalTherapistStaffing_Hours  ...       None   0
24   24                   RatingCycle1_Date  ...       None   0
25   25  RatingCycle1_HealthDeficiencyScore  ...       None   0
26   26                   RatingCycle2_Date  ...       None   0
27   27  RatingCycle2_HealthDeficiencyScore  ...       None   0
28   28                   RatingCycle3_Date  ...       None   0
29   29  RatingCycle3_HealthDeficiencyScore  ...       None   0
30   30                       NumberofFines  ...       None   0
31   31                    TotalAmountFines  ...       None   0

[32 rows x 6 columns]

# Create New Field - Numeric

To begin, let's compute the Capacity of each nursing home in the database.

$$Capacity = \frac{Average \space Residents \space per \space Day}{Number \space of \space Beds}$$

<strong>Note:</strong> The triple quote, i.e. """, in Python permits code to be written over multiple lines.  This will be used here to make the code more readable.

In [22]:
#Makign a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
df = pd.read_sql_query("""
                          SELECT ProviderName, 
                                 (AverageResidentsperDay/NumberBeds) AS Capacity 
                          FROM Providers
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head()

                                  ProviderName  Capacity
0                     BURNS NURSING HOME, INC.  0.908772
1               COOSA VALLEY HEALTHCARE CENTER  0.848235
2                   HIGHLANDS HEALTH AND REHAB  0.826000
3  EASTVIEW REHABILITATION & HEALTHCARE CENTER  0.780435
4                PLANTATION MANOR NURSING HOME  0.813592

Next, consider the use of <strong>ORDER BY</strong> which can be used to sort the outcomes from the SELECT statement.  The <strong>DESC</strong> option for ORDER BY will sort the Capacity values in descending order.

In [39]:
#Makign a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
df = pd.read_sql_query("""
                          SELECT ProviderName, 
                                 (AverageResidentsperDay/NumberBeds) AS Capacity 
                          FROM Providers
                          ORDER BY Capacity DESC
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head()

                   ProviderName   Capacity
0          THE CENTER AT GRANDE  10.650000
1  MARYLAND GARDENS CARE CENTER   5.187500
2   COLUSA MEDICAL CENTER - SNF   4.266667
3      WOONSOCKET HEALTH CENTRE   3.980769
4     WARE MEMORIAL CARE CENTER   3.216000

A Capacity value over 1 indicates the nursing home has a capacity larger than 100%.  A WHERE statement can be used to filter out such nursing homes.  

<strong>Note:</strong>  At times, SQL requires statements in a particular order.  Here, the WHERE statements must come before the ORDER BY statement.

In [42]:
#Makign a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
df = pd.read_sql_query("""
                          SELECT ProviderName, 
                                 (AverageResidentsperDay/NumberBeds) AS Capacity 
                          FROM Providers
                          WHERE Capacity <= 1
                          ORDER BY Capacity DESC
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head(10)

                                        ProviderName  Capacity
0                     HAVASU REGIONAL MEDICAL CENTER  1.000000
1                                     THE ROYAL HOME  1.000000
2                          PALO ALTO COUNTY HOSPITAL  1.000000
3  THE STEVEN AND ALEXANDRA COHEN PED L T C PAVILION  1.000000
4                                      SUMMIT SQUARE  1.000000
5                                    MILETREE CENTER  1.000000
6                              AMERICAN RIVER CENTER  1.000000
7                    PARKLANE WEST HEALTHCARE CENTER  0.997561
8                  HEALTHCARE CENTER OF JACKSONVILLE  0.997500
9                                      PORTAGEPOINTE  0.996667

# CONCATENATE, CAST, and ROUND in SQL

Consider the following use of the ROUND() and CAST() functions, and the concatenate utility to express the output as a percentage.


1.   ROUND(); can be used to round a number to a specific number of decimals
2.   CAST(); can be used to change the data type; this is necessary as the concatenate utility requires a string variable
3.   ||; SQLite does not support CONCAT() function, but instead uses the || syntax to piece together a set of strings into a larger string.

In [43]:
#Makign a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
df = pd.read_sql_query("""
                          SELECT ProviderName, 
                                 ( CAST(ROUND(100*(AverageResidentsperDay/NumberBeds),1) AS VARCHAR) || '%' ) AS Capacity 
                          FROM Providers
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head()

                                  ProviderName Capacity
0                     BURNS NURSING HOME, INC.    90.9%
1               COOSA VALLEY HEALTHCARE CENTER    84.8%
2                   HIGHLANDS HEALTH AND REHAB    82.6%
3  EASTVIEW REHABILITATION & HEALTHCARE CENTER    78.0%
4                PLANTATION MANOR NURSING HOME    81.4%

Suppose an ORDER BY statement is included to sort the capacities from largest to smallest.

In [57]:
#Makign a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
df = pd.read_sql_query("""
                          SELECT ProviderName, 
                                 ( CAST(ROUND(100*(AverageResidentsperDay/NumberBeds),1) AS VARCHAR) || '%' ) AS Capacity 
                          FROM Providers
                          ORDER BY Capacity DESC
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.tail()

                                        ProviderName Capacity
15326                           THE CENTER AT PARMER     0.0%
15327             CEDAR HOLLOW REHABILITATION CENTER     0.0%
15328                        THE LEGACY MIDTOWN PARK     0.0%
15329              SYLVAN SHORES HEALTH AND WELLNESS     0.0%
15330  METHODIST TRANSITIONAL CARE CENTER-DESOTO LLC     0.0%

The output above is **not** correctly sorted -- or is it?  The data type for Capacity is a string; thus, sorting is indeed being done correctly in SQL.

<table>
<tr>
<td align="center">Values</td><td align="center">Values <br>AS String</td>
<td align="center"></td><td align="center">Sort <br>WHEN String</td><td align="center">Sort <br>WHEN Numeric</td>
</tr>
<td align="right">
<font size="+2">
99.6%<br>
0.0%<br>
1065.0%<br>
518.8%<br>
</font>
</td>
<td align="left">
<font size="+2">
"99.6%"<br>
"0.0%"<br>
"1065.0%"<br>
"518.8%"<br>
</font>
</td>
<td align="left">&nbsp;</td>

<td align="left">
<font size="+2">
"<u>0</u>.0%"<br>
"<u>1</u>065.0%"<br>
"<u>5</u>18.8%"<br>
"<u>9</u>9.6%"<br>
</font>
</td>
<td align="right">
<font size="+2">
0.0%<br>
99.6%<br>
518.8%<br>
1065.0%<br>
</font>
</td>
</tr>
</table>

To alleviate this issue, modify the SQL statement as follows.  Notice that the ORDER BY statement uses the numeric quantity to completing the sorting.

In [79]:
#Makign a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
NursingHomes_Capacity = pd.read_sql_query("""
                          SELECT ProviderName, 
                                 AverageResidentsperDay/NumberBeds AS Capacity_Numeric,
                                 ( CAST(ROUND(100*(AverageResidentsperDay/NumberBeds),1) AS VARCHAR) || '%' ) AS Capacity 
                          FROM Providers
                          ORDER BY Capacity_Numeric DESC
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
NursingHomes_Capacity.head()

                   ProviderName  Capacity_Numeric Capacity
0          THE CENTER AT GRANDE         10.650000  1065.0%
1  MARYLAND GARDENS CARE CENTER          5.187500   518.8%
2   COLUSA MEDICAL CENTER - SNF          4.266667   426.7%
3      WOONSOCKET HEALTH CENTRE          3.980769   398.1%
4     WARE MEMORIAL CARE CENTER          3.216000   321.6%

## Using dfply to manage data frame

The object returned by the code above is a Python data frame.  Thus, Python can be used to manipulate this data frame.  For example, <strong>dfply</strong> can be used to select the only the ProviderName and Capacity from this data frame.


<p align='center'><img src="https://drive.google.com/uc?export=view&id=1z9aXcrBX7zBa8vmKZLLa2W2tyLvK63fF" width='75%' height='75%'></p>

Loading <strong>dfply</strong> to this instance of Colab.

In [53]:
pip install dfply

Requirement already satisfied: dfply in /usr/local/lib/python3.7/dist-packages (0.3.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from dfply) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from dfply) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->dfply) (1.15.0)

Next, importing the package into this instance of Colab.

In [50]:
from dfply import *

Using the dfply package to <strong>select()</strong> only the desired columns.

In [84]:
#Piping in dfply and using select() to grab first two columns.
NursingHomes_Capacity_Updated = (
             NursingHomes_Capacity
             >> select(X.ProviderName, X.Capacity)
             #>> select(~X.Capacity_Numeric)  # Use this version if data frame has several columns to be included
           )
NursingHomes_Capacity_Updated.head()

                   ProviderName Capacity
0          THE CENTER AT GRANDE  1065.0%
1  MARYLAND GARDENS CARE CENTER   518.8%
2   COLUSA MEDICAL CENTER - SNF   426.7%
3      WOONSOCKET HEALTH CENTRE   398.1%
4     WARE MEMORIAL CARE CENTER   321.6%

## Using a Subquery to manage data frame

A subquery in SQL is simply a query within another query.  Subqueries are powerful ways to manipulate data tables that result from a SQL query.  Suqueries **do not** change the structure of the data tables within the database; but simply allow for the managment of data before the outcomes are pushed out to the user.

When reading / interpreting SQL code that contain subqueries, it is important to read the statement from the <i>inside</i> to the <i>outside</i>. Consider the SQL statement that was used above.

<font size="-1" color="red">
SELECT ProviderName,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AverageResidentsperDay/NumberBeds AS Capacity_Numeric,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( CAST(ROUND(100*(AverageResidentsperDay/NumberBeds),1) AS VARCHAR) || '%' ) AS Capacity <br>
                            FROM Providers<br>
                            ORDER BY Capacity_Numeric DESC
</font>

The resulting output from this query is an SQL table.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1CwL_UaqOuFRd6JtHO1R0vtHqxqlKZbst" width='50%' height='50%'></p>

Now,  let us add a <font color="green"><strong>second SQL query</strong></font> that will be used to manage the SQL table returned by the <font color="red">first SQL query</font>.

<font size="-1" color="green">
SELECT ProviderName, Capacity <br>
&nbsp;&nbsp;&nbsp;FROM<br>
&nbsp;&nbsp;&nbsp;(<br>
<font size="-1" color="red">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SELECT ProviderName,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AverageResidentsperDay/NumberBeds AS Capacity_Numeric,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( CAST(ROUND(100*(AverageResidentsperDay/NumberBeds),1) AS VARCHAR) || '%' ) AS Capacity <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                            FROM Providers<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                           ORDER BY Capacity_Numeric DESC
</font>
<br>
&nbsp;&nbsp;&nbsp;)
</font>

Visually, the <font color="green"><strong>second SQL query</strong></font> is simply selecting the desired columns from the SQL table returned from the <font color="red">first SQL query</font>.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1vevXHsihJ544Svf7-ghpOSHrvdx87lmL" width='50%' height='50%'></p>

Putting the pieces together in SQL.

In [65]:
#Makign a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
NursingHomes_Capacity = pd.read_sql_query("""
                          SELECT ProviderName, Capacity FROM
                           (
                            SELECT ProviderName, 
                                 AverageResidentsperDay/NumberBeds AS Capacity_Numeric,
                                 ( CAST(ROUND(100*(AverageResidentsperDay/NumberBeds),1) AS VARCHAR) || '%' ) AS Capacity 
                            FROM Providers
                            ORDER BY Capacity_Numeric DESC
                           )
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
NursingHomes_Capacity.head()

                   ProviderName Capacity
0          THE CENTER AT GRANDE  1065.0%
1  MARYLAND GARDENS CARE CENTER   518.8%
2   COLUSA MEDICAL CENTER - SNF   426.7%
3      WOONSOCKET HEALTH CENTRE   398.1%
4     WARE MEMORIAL CARE CENTER   321.6%

Next, consider the following code that computes the Average Fine Amount for each nursing home in the database.

In [89]:
#Makign a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
df = pd.read_sql_query("""
                          SELECT ProviderName, 
                                 (TotalAmountFines/NumberofFines) AS 'Average Fine Amount' 
                          FROM Providers

                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head(10)

                                        ProviderName  Average Fine Amount
0                           BURNS NURSING HOME, INC.                  NaN
1                     COOSA VALLEY HEALTHCARE CENTER                650.0
2                         HIGHLANDS HEALTH AND REHAB                  NaN
3        EASTVIEW REHABILITATION & HEALTHCARE CENTER                  NaN
4                      PLANTATION MANOR NURSING HOME              14805.5
5               ATHENS HEALTH AND REHABILITATION LLC                  NaN
6                                   MERRY WOOD LODGE              78677.0
7                             HATLEY HEALTH CARE INC                  NaN
8  SENIOR REHAB & RECOVERY AT LIMESTONE HEALTH FA...                  NaN
9            WETUMPKA HEALTH AND REHABILITATION, LLC                  NaN

The 'Average Fine Amount' cannot be computed because in many situations the NumberofFines = 0.  In this situation the <strong>CASE WHEN</strong> statement can be used to alleviate this issue. 

$$AverageFine = \Bigg\{ \begin{array} \tiny{\frac{\mbox{Total Amount of Fines}}{\mbox{Number of Fines}}} & when & \mbox{Number of Fines} > 0\\
0 &  when & \mbox{Number of Fines} = 0
\end{array}$$

In [86]:
#Makign a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
df = pd.read_sql_query("""
                          SELECT ProviderName, 
                                 CASE
                                     WHEN NumberofFines > 0 THEN  (TotalAmountFines/NumberofFines)
                                     ELSE 0
                                 END AS 'Average Fine Amount' 
                          FROM Providers
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head(10)

                                        ProviderName  Average Fine Amount
0                           BURNS NURSING HOME, INC.                  0.0
1                     COOSA VALLEY HEALTHCARE CENTER                650.0
2                         HIGHLANDS HEALTH AND REHAB                  0.0
3        EASTVIEW REHABILITATION & HEALTHCARE CENTER                  0.0
4                      PLANTATION MANOR NURSING HOME              14805.5
5               ATHENS HEALTH AND REHABILITATION LLC                  0.0
6                                   MERRY WOOD LODGE              78677.0
7                             HATLEY HEALTH CARE INC                  0.0
8  SENIOR REHAB & RECOVERY AT LIMESTONE HEALTH FA...                  0.0
9            WETUMPKA HEALTH AND REHABILITATION, LLC                  0.0

# Create New Field - STRING

The <strong>SUBSTR</strong> statement in SQL can be used to obtain a subset of a string.  Similar to R/Python, the negative index can be used to start from the right-end of the string.

<p align="center">
<font size="+2">
SUBSTR( <i>string</i>, start = ____, length = ____)
</font>
</p>

In [101]:
#Makign a connection
connect_db = sqlite3.connect("/content/sample_data/NursingHomes.db")

#SQL Statement
df = pd.read_sql_query("""
                          SELECT SUM(TotalAmountFines) AS TotalFines , SUBSTR(ProviderCounty, -2, 2) AS State
                          FROM Providers
                          GROUP BY State
                          ORDER BY TotalFines DESC
                       """
                          , connect_db)
                       
#Closing the connection
connect_db.close()

#Using pandas to show output
df.head(10)

   TotalFines State
0  13788843.0    FL
1  13530114.0    NC
2  12768677.0    TX
3  11070843.0    MI
4  10420372.0    KY
5   7866628.0    PA
6   7235688.0    IN
7   6575031.0    GA
8   6527641.0    OH
9   6429331.0    MA