<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/Module5_Part1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 5 - Part 1 Python: Application Programming Interface (API) - Yelp

## What is an API

An <strong>Application Programming Interface (API)</strong> is common method to obtain and share data across various applications.


<p align='center'><img src="https://drive.google.com/uc?export=view&id=1Mvm4Rs94-fiGV1fISMvrZSzkOPBg5S1p"></p>

Source:  https://en.wikipedia.org/wiki/API

An API allows for communication to easily transpire between a user and database (or server).

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1v19F5Cxe8gDat9IfaGNbFuRjc9colU18"></p>

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

## Example 5.1.P
For this notebook, we will use the Yelp API to obtain data regarding the *Best Restaurants* in Winona, MN. 
 
The following search criteria will be used

*   Locaton: Winona, MN
*   Search Term: Best Restaurants
*   Price: $, 1 dollar sign implies cheapest 
*   Sort by: Highest Rated

Source:  https://www.yelp.com/search?find_desc=Best%20Restaurants&find_loc=Winona%2C%20MN%2055987&attrs=RestaurantsPriceRange2.1&sortby=rating 

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

## Search via Yelp

Consider the following search done by Yelp.  The specifications of this search include: Search Term = "Best Restaurants", Location = "Winona, MN", 1 Filter applied for "$" (i.e. cheapest), and Sort outcomes by "Highest Rated".


<p align='center'><img src="https://drive.google.com/uc?export=view&id=1PDxr6TCzzxZy0XA9Un8phz5tDnOSNDeI" width='75%' height='75%'></p>

The outcomes returned by Yelp are provided here.  Notice that the outcomes are *not* necessarily sorted by Highest Rating.  Beno's Deli is actually the highest rated is this list of three, but is not listed on top.  I would imagine that Yelp takes into consideration the number of reviews when determining "best".  For example, a restraurant with an overall rating of 5 based on two reviews should probably be rated lower than a restraurant with an overall rating of 4.5 based on several hundred reviews.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1-T6QQlQKJaylbfdcLdLaMaM94Ripo7Pv" width='50%' height='50%'></p>

<strong>Goal</strong>:  To obtain a list that is truely sorted by Rating.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=12kJ8-apk2FSZyO3mMAg7hqxj5j0jfXLB"></p>

## Setting up an Account at Yelp

Most often, the first step in using an API is to create an account with the organization that owns the API.  For this Notebook we will be using the Yelp APO; thus, an developer account will need to be created at Yelp. 

Yelp Developer Site: https://www.yelp.com/developers

The next step is to fill out the required form for your new "app".  In this class, we will not be creating an actual app, but this form is required in order to obtain a:

*    <strong>Client ID</strong>: Unique identifier for yourself 
*    <strong> API Key</strong>: Unique identifier for your app

These two identifiers are somewhat common when working with APIs.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1wbn460BbsOUOF36sl1hYcVPLXiERlr-s" width='50%' height='50%'></p>

## Setting up Python

First, install pandas and np packages for working with data in Python.

In [1]:
import pandas as pd
import numpy as np

The <strong>YelpAPI</strong> package in Python requires the specificaiton of your Client ID and API Key.  Obtain the Client ID and API Key from the Yelp Developer site and copy and paste these strings here.

In [5]:
#Setting up API Connection Information
client_id = ""
api_key = ""

Next, download the YelpAPI package.

Source:  https://github.com/gfairchild/yelpapi

In [6]:
pip install yelpapi

Requirement already satisfied: yelpapi in /usr/local/lib/python3.7/dist-packages (2.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from yelpapi) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->yelpapi) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->yelpapi) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->yelpapi) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->yelpapi) (2.10)

Next, load the YelpAPI package into this Colab session.

In [8]:
from yelpapi import YelpAPI

Next, the <strong>YelpAPI()</strong> function established a connection with the Yelp Fusion API.  Additional details regarding this fuction can be found on the github site referenced above.

In [9]:
yelp_api = YelpAPI(api_key)

## Making an API Call

A call to the API requires specification of a set of parameters.  Some of these parameters are required, e.g. location, and others are options, e.g. price.  The list of possible parameters can be found on the Yelp's documuntation page.

Source: https://www.yelp.com/developers/documentation/v3/business_search



<p align='center'><img src="https://drive.google.com/uc?export=view&id=16r6KMKNbL2TxNXK5UXOZqFjNZJPl3qNK" width='25%' height='25%'></p>

The following specifications will be used for our first API call.


*   <strong>Term</strong>: Best Restaurants"
*   <strong>Location</strong>: Winona, MN
*   <strong>Search Limit</strong>: Use 50 -- the maximum possible.

<strong>Comment</strong>:  If more than 50 outcomes are desired, the <strong>offset</strong> parameter can be used to obtain the *next* 50.

In [10]:
term = 'Best Restaurants'
location = 'Winona, MN'
search_limit = 50

response = yelp_api.search_query(term = term,
                                 location = location,
                                 limit = search_limit)

Let's take a look at what is returned by the Yelp API.

In [ ]:
response

## The API Outcomes

Often, the <strong>JSON</strong> data format is used by APIs. A JSON data struture is much more flexible than a dataframe, e.g. JSON allows for *nested* data structures.  Most often a dataframe requires data to be in a tabluar format with clearly defined rows and columns.  A quick review of the information returned by the YelpAPI suggests that a dataframe is not the best way to store such informaiton.




<p align='center'><img src="https://drive.google.com/uc?export=view&id=14L0_LhB2T3dARxTCY88ZUB6c5GcM23Cw" width='75%' height='75%'></p>

The YelpAPI has *automatically* converted the JSON data structure into a Python dictionary - a commonly used data struture within Python that allows for more struture than a dataframe.

In [12]:
type(response)

dict

The following will convert some of the contents of the <strong>response</strong> dictionary into a pandas dataframe.

In [16]:
cols = list(response['businesses'][0].keys())
WinonaYelp = pd.DataFrame(columns=cols)

for biz in response['businesses']:
    WinonaYelp = WinonaYelp.append(biz, ignore_index=True)

Taking a look at this newly created dataframe.

In [20]:
WinonaYelp.head(2)

                       id  ...     distance
0  b7AuH8sAf0IDs6ZR8sPAtg  ...  1786.461266
1  G2ptcgOx5e9usmxW38OoOw  ...  8487.767680

[2 rows x 16 columns]

<strong>Note</strong>:  Not all of the contents will be converted into seperate fields. For example, the contents of the categories, coordinates, and location fields have not yet be exploded into seperate columns.

## Using dfply Package to Manipulate the Dataframe

In [21]:
pip install dfply

Collecting dfply
  Downloading https://files.pythonhosted.org/packages/53/91/18ab48c64661252dadff685f8ddbc6f456302923918f488714ee2345d49b/dfply-0.3.3-py3-none-any.whl (612kB)
     |████████████████████████████████| 614kB 15.6MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from dfply) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from dfply) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->dfply) (1.15.0)
Installing collected packages: dfply
Successfully installed dfply-0.3.3

In [22]:
from dfply import *

The following actions will take place on this dataframe.


*   filter: filter on price == $, i.e. only keep cheapest restaurants 
*   arrange: sort the list by rating, and also by the number of reviews
*   filter: only keep restaurants that have 10 or more reviews

In [28]:
WinonaList = (
                 WinonaYelp
                 >> filter_by(X.price == '$')
                 >> arrange(desc(X.rating), desc(X.review_count))
                 >> filter_by(X.review_count >= 10) 
             )

#Checking the dataframe
WinonaList.head(2)

                        id  ...      distance
10  wRT7U5srhCDek5N-GDROKw  ...  25142.137259
4   0OAoruhVskDUJiGFzksE-w  ...  19142.237095

[2 rows x 16 columns]

Using print() function to more easily see struture of the categories, coordinates, and location fields.

In [29]:
print(WinonaList.to_string(index=False))

                     id                                   alias                      name                                                             image_url is_closed                                                                                                                                                                                                  url review_count                                                                                                                                                                  categories  rating                                                     coordinates transactions price                                                                                                                                                                                                                    location         phone   display_phone      distance
 wRT7U5srhCDek5N-GDROKw              garden-of-eatin-galesville          Garden of Eatin'  https://s3-media1.fl.yelpcdn.com/bphoto/sHQ8rmp_fjziFExW09OaeA/o.jpg     False              https://www.yelp.com/biz/garden-of-eatin-galesville?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           24                                                                      [{'alias': 'diners', 'title': 'Diners'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}]     5.0  {'latitude': 44.0823135375977, 'longitude': -91.3483123779297}           []     $                {'address1': '19847 E Gale Ave', 'address2': '', 'address3': '', 'city': 'Galesville', 'zip_code': '54630', 'country': 'US', 'state': 'WI', 'display_address': ['19847 E Gale Ave', 'Galesville, WI 54630']}  +16085824366  (608) 582-4366  25142.137259
 0OAoruhVskDUJiGFzksE-w                  river-cafe-trempealeau                River Cafe  https://s3-media4.fl.yelpcdn.com/bphoto/8m2yDpY8u068z_QuaCfocQ/o.jpg     False                  https://www.yelp.com/biz/river-cafe-trempealeau?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           13      [{'alias': 'tradamerican', 'title': 'American (Traditional)'}, {'alias': 'british', 'title': 'British'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}]     5.0               {'latitude': 44.003788, 'longitude': -91.4309464}           []     $                    {'address1': '23991 3rd St', 'address2': None, 'address3': '', 'city': 'Trempealeau', 'zip_code': '54661', 'country': 'US', 'state': 'WI', 'display_address': ['23991 3rd St', 'Trempealeau, WI 54661']}  +16085345055  (608) 534-5055  19142.237095
 7jOFqIp-3x1Ury6Z8byfTQ         northend-pub-and-grill-cochrane      NorthEnd Pub & Grill  https://s3-media4.fl.yelpcdn.com/bphoto/x5jzKROTvdqMEGDwlsc0ag/o.jpg     False         https://www.yelp.com/biz/northend-pub-and-grill-cochrane?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           13                                                                          [{'alias': 'tradamerican', 'title': 'American (Traditional)'}, {'alias': 'pubs', 'title': 'Pubs'}]     5.0              {'latitude': 44.2282404, 'longitude': -91.8367112}           []     $                          {'address1': '214 N Main St', 'address2': '', 'address3': '', 'city': 'Cochrane', 'zip_code': '54622', 'country': 'US', 'state': 'WI', 'display_address': ['214 N Main St', 'Cochrane, WI 54622']}  +16082483773  (608) 248-3773  24050.436392
 OmeDf51MKhRL06asuA2ghg                 the-root-note-la-crosse             The Root Note  https://s3-media1.fl.yelpcdn.com/bphoto/cwneYErRutv50ta9nO-ZQQ/o.jpg     False                 https://www.yelp.com/biz/the-root-note-la-crosse?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           81                             [{'alias': 'musicvenues', 'title': 'Music Venues'}, {'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'creperies', 'title': 'Creperies'}]     4.5                {'latitude': 43.811847, 'longitude': -91.251341}   [delivery]     $                          {'address1': '115 4th St S', 'address2': '', 'address3': '', 'city': 'La Crosse', 'zip_code': '54601', 'country': 'US', 'state': 'WI', 'display_address': ['115 4th St S', 'La Crosse, WI 54601']}  +16087827668  (608) 782-7668  42317.274677
 zTp9yCR-7e5XULkzPE3emQ  river-rats-bar-and-grill-french-island  River Rats Bar and Grill  https://s3-media1.fl.yelpcdn.com/bphoto/ur6FHniaamTFaNDZXFdpRw/o.jpg     False  https://www.yelp.com/biz/river-rats-bar-and-grill-french-island?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           31                        [{'alias': 'newamerican', 'title': 'American (New)'}, {'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'cocktailbars', 'title': 'Cocktail Bars'}]     4.5                  {'latitude': 43.84216, 'longitude': -91.26489}   [delivery]     $  {'address1': '1311 La Crescent Pl', 'address2': None, 'address3': '', 'city': 'French Island', 'zip_code': '54603', 'country': 'US', 'state': 'WI', 'display_address': ['1311 La Crescent Pl', 'French Island, WI 54603']}  +16087847287  (608) 784-7287  39377.964443
 sBcZCadAbJQZCMpKd-ABxg                       benos-deli-winona               Beno's Deli  https://s3-media1.fl.yelpcdn.com/bphoto/snAzXC5xLgybMzV8NxGqyw/o.jpg     False                       https://www.yelp.com/biz/benos-deli-winona?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           20                                                                                      [{'alias': 'delis', 'title': 'Delis'}, {'alias': 'sandwiches', 'title': 'Sandwiches'}]     4.5  {'latitude': 44.0512248959073, 'longitude': -91.6358360902651}           []     $                                  {'address1': '78 E 4th St', 'address2': '', 'address3': '', 'city': 'Winona', 'zip_code': '55987', 'country': 'US', 'state': 'MN', 'display_address': ['78 E 4th St', 'Winona, MN 55987']}  +15074522761  (507) 452-2761   1964.272494
 i6N3jl_2YIW-tcWno4-M6w           brewskies-bar-and-grill-utica    Brewskie's Bar & Grill  https://s3-media4.fl.yelpcdn.com/bphoto/llnczwefqAYUUsHOLKP0Tw/o.jpg     False           https://www.yelp.com/biz/brewskies-bar-and-grill-utica?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           18                                    [{'alias': 'bars', 'title': 'Bars'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}, {'alias': 'pizza', 'title': 'Pizza'}]     4.5  {'latitude': 43.9760665893555, 'longitude': -91.9548187255859}           []     $                                {'address1': '110 E Main St', 'address2': '', 'address3': '', 'city': 'Utica', 'zip_code': '55979', 'country': 'US', 'state': 'MN', 'display_address': ['110 E Main St', 'Utica, MN 55979']}  +15079323485  (507) 932-3485  25049.947237
 z2EFHabLvswzzL8MkPwmKA                the-acoustic-cafe-winona         The Acoustic Cafe  https://s3-media1.fl.yelpcdn.com/bphoto/0yG-DARmJJGYlUK8pgBnHw/o.jpg     False                https://www.yelp.com/biz/the-acoustic-cafe-winona?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           73                                                                              [{'alias': 'sandwiches', 'title': 'Sandwiches'}, {'alias': 'coffee', 'title': 'Coffee & Tea'}]     4.0                {'latitude': 44.0531999, 'longitude': -91.63477}           []     $                                {'address1': '77 Lafayette', 'address2': '', 'address3': '', 'city': 'Winona', 'zip_code': '55987', 'country': 'US', 'state': 'MN', 'display_address': ['77 Lafayette', 'Winona, MN 55987']}  +15074530394  (507) 453-0394   2043.073238
 e8BdbLKSh7_zefJ9T885VQ               lakeview-drive-inn-winona        Lakeview Drive Inn  https://s3-media2.fl.yelpcdn.com/bphoto/PrdhUUSXIQnrHHhH-uxUHQ/o.jpg     False               https://www.yelp.com/biz/lakeview-drive-inn-winona?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           40                                                                    [{'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'tradamerican', 'title': 'American (Traditional)'}]     4.0  {'latitude': 44.0388107299805, 'longitude': -91.6262054443359}           []     $                          {'address1': '610 E Sarnia St', 'address2': '', 'address3': '', 'city': 'Winona', 'zip_code': '55987', 'country': 'US', 'state': 'MN', 'display_address': ['610 E Sarnia St', 'Winona, MN 55987']}  +15074543723  (507) 454-3723   3133.942904
 2HtSOQ4vjcuzXrYxBSxG6w                        pier-4-cafe-alma               Pier 4 Cafe  https://s3-media3.fl.yelpcdn.com/bphoto/w_h-vMCB-TdxctOAWIGYYA/o.jpg     False                        https://www.yelp.com/biz/pier-4-cafe-alma?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           25                                                                                                                                     [{'alias': 'bbq', 'title': 'Barbeque'}]     4.0                  {'latitude': 44.32672, 'longitude': -91.91887}           []     $                                  {'address1': '600 N Main St', 'address2': '', 'address3': '', 'city': 'Alma', 'zip_code': '54610', 'country': 'US', 'state': 'WI', 'display_address': ['600 N Main St', 'Alma, WI 54610']}  +16086854964  (608) 685-4964  36782.106044
 Bjy7zCpcJzyXLiIj6hyG5w        golden-frog-saloon-fountain-city        Golden Frog Saloon  https://s3-media3.fl.yelpcdn.com/bphoto/IjH6sAyNQzUWCX2XUWggNQ/o.jpg     False        https://www.yelp.com/biz/golden-frog-saloon-fountain-city?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           22                                                                   [{'alias': 'tradamerican', 'title': 'American (Traditional)'}, {'alias': 'beerbar', 'title': 'Beer Bar'}]     4.0                {'latitude': 44.13178, 'longitude': -91.7188199}           []     $              {'address1': '112 N Shore Dr', 'address2': '', 'address3': '', 'city': 'Fountain City', 'zip_code': '54629', 'country': 'US', 'state': 'WI', 'display_address': ['112 N Shore Dr', 'Fountain City, WI 54629']}  +16086873335  (608) 687-3335   9940.401662
 eRXR71QMchz1IkBp47U_OA                         cha-chis-winona                  Cha Chis  https://s3-media3.fl.yelpcdn.com/bphoto/xZ3N7OnViWM3N99yRWX2SA/o.jpg     False                         https://www.yelp.com/biz/cha-chis-winona?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           13                                                                                                                                  [{'alias': 'mexican', 'title': 'Mexican'}]     4.0                {'latitude': 44.051355, 'longitude': -91.633745}           []     $                                {'address1': '155 E 3rd St', 'address2': '', 'address3': '', 'city': 'Winona', 'zip_code': '55987', 'country': 'US', 'state': 'MN', 'display_address': ['155 E 3rd St', 'Winona, MN 55987']}  +15074747177  (507) 474-7177   2129.527082
 bkAqQhk6Ylc8OkjyLWf6RQ                     bubs-brewing-winona             Bub's Brewing  https://s3-media2.fl.yelpcdn.com/bphoto/nTZdfHlcWGLE_As6F1Lckg/o.jpg     False                     https://www.yelp.com/biz/bubs-brewing-winona?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           60                                                                                              [{'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'bars', 'title': 'Bars'}]     3.5  {'latitude': 44.0509452819824, 'longitude': -91.6364822387695}           []     $                                  {'address1': '65 E 4th St', 'address2': '', 'address3': '', 'city': 'Winona', 'zip_code': '55987', 'country': 'US', 'state': 'MN', 'display_address': ['65 E 4th St', 'Winona, MN 55987']}  +15074573121  (507) 457-3121   1914.113279
 nXLtko08rnGvaPiL0YkF7A          winona-sandwich-company-winona   Winona Sandwich Company  https://s3-media4.fl.yelpcdn.com/bphoto/ntWfgRkiOW5ZomQ1e9WzQA/o.jpg     False          https://www.yelp.com/biz/winona-sandwich-company-winona?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           37                                                                                                                            [{'alias': 'sandwiches', 'title': 'Sandwiches'}]     3.5                  {'latitude': 44.04518, 'longitude': -91.64845}           []     $                                  {'address1': '619 Huff St', 'address2': '', 'address3': '', 'city': 'Winona', 'zip_code': '55987', 'country': 'US', 'state': 'MN', 'display_address': ['619 Huff St', 'Winona, MN 55987']}  +15074521170  (507) 452-1170   1272.943496
 F-7twobErWESAIHjdtgR7Q        the-grill-at-signatures-winona-3   The Grill at Signatures  https://s3-media4.fl.yelpcdn.com/bphoto/sBuQQsov3ErlCKOc0xcN1A/o.jpg     False        https://www.yelp.com/biz/the-grill-at-signatures-winona-3?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           12                                                                                                                         [{'alias': 'comfortfood', 'title': 'Comfort Food'}]     3.5              {'latitude': 44.0072089, 'longitude': -91.6082568}           []     $                {'address1': '22852 County Road 17', 'address2': '', 'address3': '', 'city': 'Winona', 'zip_code': '55987', 'country': 'US', 'state': 'MN', 'display_address': ['22852 County Road 17', 'Winona, MN 55987']}  +15074543767  (507) 454-3767   6680.139005
 VTsjePuuqiiweWG3FTRAyw           roccos-pub-and-pizza-winona-2       Rocco's Pub & Pizza  https://s3-media1.fl.yelpcdn.com/bphoto/pjaUxDKFn4hxkNhCxwKwBA/o.jpg     False           https://www.yelp.com/biz/roccos-pub-and-pizza-winona-2?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           11                                                                                                                                      [{'alias': 'pizza', 'title': 'Pizza'}]     3.5                {'latitude': 44.069297, 'longitude': -91.707905}           []     $                              {'address1': '5242 W 6th St', 'address2': '', 'address3': '', 'city': 'Winona', 'zip_code': '55987', 'country': 'US', 'state': 'MN', 'display_address': ['5242 W 6th St', 'Winona, MN 55987']}  +15074545911  (507) 454-5911   4221.892200
 VUfE04D56gzruEZwKx4cfg         winona-family-restaurant-winona  Winona Family Restaurant  https://s3-media4.fl.yelpcdn.com/bphoto/lxYd9Z-HtWlfRX9UqlUl-w/o.jpg     False         https://www.yelp.com/biz/winona-family-restaurant-winona?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           25  [{'alias': 'tradamerican', 'title': 'American (Traditional)'}, {'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}]     3.0  {'latitude': 44.0494439411684, 'longitude': -91.6807715807369}           []     $                          {'address1': '1611 Service Dr', 'address2': '', 'address3': '', 'city': 'Winona', 'zip_code': '55987', 'country': 'US', 'state': 'MN', 'display_address': ['1611 Service Dr', 'Winona, MN 55987']}  +15074545104  (507) 454-5104   1679.019148
 pvTW9B1k7JjfxAghBsHWog      wellingtons-pub-and-grill-winona-2  Wellington's Pub & Grill  https://s3-media2.fl.yelpcdn.com/bphoto/-WHeuR45tzAWs11YwdAjQw/o.jpg     False      https://www.yelp.com/biz/wellingtons-pub-and-grill-winona-2?adjust_creative=tQHcscph1lXYv7njNRZyuA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=tQHcscph1lXYv7njNRZyuA           17                                              [{'alias': 'pubs', 'title': 'Pubs'}, {'alias': 'burgers', 'title': 'Burgers'}, {'alias': 'sandwiches', 'title': 'Sandwiches'}]     3.0               {'latitude': 44.0470378, 'longitude': -91.675783}           []     $                      {'address1': '1429 W Service Dr', 'address2': '', 'address3': '', 'city': 'Winona', 'zip_code': '55987', 'country': 'US', 'state': 'MN', 'display_address': ['1429 W Service Dr', 'Winona, MN 55987']}  +15074522103  (507) 452-2103   1457.417010

The existing dataframe needs to be modified to include only locations in <strong>Winona, MN</strong>.  Furthermore, the display_address field will be used to create an connection with the Google Map API.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1E7Gxp0nb2l4mt5iYAREAf1ozWJXHSU_m" width='75%' height='75%'></p>

The following json_normalize() function is used to seperate the location field into seperate columns.

In [30]:
WinonaList_NormalizeLocation = pd.json_normalize(WinonaList['location'])

<strong>Note</strong>:  The following snipit of code to accomplish that same -- pd.DataFrame(WinonaList['location'].tolist())

In [31]:
WinonaList_NormalizeLocation

                address1  ...                                 display_address
0       19847 E Gale Ave  ...        [19847 E Gale Ave, Galesville, WI 54630]
1           23991 3rd St  ...           [23991 3rd St, Trempealeau, WI 54661]
2          214 N Main St  ...             [214 N Main St, Cochrane, WI 54622]
3           115 4th St S  ...             [115 4th St S, La Crosse, WI 54601]
4    1311 La Crescent Pl  ...  [1311 La Crescent Pl, French Island, WI 54603]
5            78 E 4th St  ...                 [78 E 4th St, Winona, MN 55987]
6          110 E Main St  ...                [110 E Main St, Utica, MN 55979]
7           77 Lafayette  ...                [77 Lafayette, Winona, MN 55987]
8        610 E Sarnia St  ...             [610 E Sarnia St, Winona, MN 55987]
9          600 N Main St  ...                 [600 N Main St, Alma, WI 54610]
10        112 N Shore Dr  ...       [112 N Shore Dr, Fountain City, WI 54629]
11          155 E 3rd St  ...                [155 E 3rd St, Winona, MN 55987]
12           65 E 4th St  ...                 [65 E 4th St, Winona, MN 55987]
13           619 Huff St  ...                 [619 Huff St, Winona, MN 55987]
14  22852 County Road 17  ...        [22852 County Road 17, Winona, MN 55987]
15         5242 W 6th St  ...               [5242 W 6th St, Winona, MN 55987]
16       1611 Service Dr  ...             [1611 Service Dr, Winona, MN 55987]
17     1429 W Service Dr  ...           [1429 W Service Dr, Winona, MN 55987]

[18 rows x 8 columns]

Next, the contents of the WinonaList_NormalizeLocation dataframe will need to be joined to WinonaList dataframe from above (that contains all the other columns).

The inherent <strong>index</strong> will be as the *key* for this simple join.  The index for the WinonaList_NormalizeLocation dataframe goes from 0 to 17.  The index in the WinonaList dataframe will reset to go from 0 to 17.  The current index in the WinonaList is from before the filters being applied above.

In [32]:
WinonaList = WinonaList.reset_index(drop=True)

Check to make sure reindexing worked for the WinonaList dataframe.

In [34]:
WinonaList.head(2)

                       id  ...      distance
0  wRT7U5srhCDek5N-GDROKw  ...  25142.137259
1  0OAoruhVskDUJiGFzksE-w  ...  19142.237095

[2 rows x 16 columns]

Complete the simple join.

In [38]:
WinonaList_WithLocation = WinonaList.join(WinonaList_NormalizeLocation)

Taking a look at the dataframe after the JOIN.

In [39]:
WinonaList_WithLocation.head(2)

                       id  ...                           display_address
0  wRT7U5srhCDek5N-GDROKw  ...  [19847 E Gale Ave, Galesville, WI 54630]
1  0OAoruhVskDUJiGFzksE-w  ...     [23991 3rd St, Trempealeau, WI 54661]

[2 rows x 24 columns]

Next, <strong>keep</strong> only restaurant locations in Winona.

In [42]:
WinonaList_WithLocation_OnlyWinona = (
                          WinonaList_WithLocation
                          >> filter_by(X.city == "Winona")
                          >> select(X.name, X.image_url, X.review_count, X.rating, X.display_address)
                       )

WinonaList_WithLocation_OnlyWinona = WinonaList_WithLocation_OnlyWinona.reset_index(drop=True)

More modifications will be done to the <strong>image_url</strong> field and the <strong>display_adress</strong> field that will be used to connect to the Google Maps API.

*  \<img src=https://s3-media1.fl.yelpcdn.com/bphoto/snAzXC5xLgybMzV8NxGqyw/o.jpg width="100px" height="100px"\>

*   \<a href="https://www.google.com/maps/place/78+E+4th+St+Winona,+MN+55987" target="_blank">Map</a\>

*   A new field, named rank, will be used to rank the restrauants from 1 on up.

In [44]:
WinonaList_WithLocation_OnlyWinona_PicMap = (
                          WinonaList_WithLocation_OnlyWinona
                          >> mutate(pic = 
                                          '<img src="' 
                                           + X.image_url 
                                           + '" width="100px" height="100px">'
                                    )
                          >> mutate(mapurl =
                                         '<a href="https://www.google.com/maps/place/'
                                          + X.display_address.str.join(sep=' ').str.replace(' ','+')
                                          + '" target="_blank">Map</a>'
                                    )
                          >> select(X.name, X.review_count, X.rating, X.pic, X.mapurl)

                       )
#Create a vector from 1 to n -- used for ranks
WinonaList_WithLocation_OnlyWinona_PicMap['rank'] = 1 + np.arange(len(WinonaList_WithLocation_OnlyWinona_PicMap))

#Move the selected column to left-most column
WinonaList_WithLocation_OnlyWinona_PicMap.insert(0,'rank',WinonaList_WithLocation_OnlyWinona_PicMap.pop('rank'))

print(WinonaList_WithLocation_OnlyWinona_PicMap.to_string(index=False))

 rank                      name review_count  rating                                                                                                            pic                                                                                                     mapurl
    1               Beno's Deli           20     4.5  <img src="https://s3-media1.fl.yelpcdn.com/bphoto/snAzXC5xLgybMzV8NxGqyw/o.jpg" width="100px" height="100px">           <a href="https://www.google.com/maps/place/78+E+4th+St+Winona,+MN+55987" target="_blank">Map</a>
    2         The Acoustic Cafe           73     4.0  <img src="https://s3-media1.fl.yelpcdn.com/bphoto/0yG-DARmJJGYlUK8pgBnHw/o.jpg" width="100px" height="100px">          <a href="https://www.google.com/maps/place/77+Lafayette+Winona,+MN+55987" target="_blank">Map</a>
    3        Lakeview Drive Inn           40     4.0  <img src="https://s3-media2.fl.yelpcdn.com/bphoto/PrdhUUSXIQnrHHhH-uxUHQ/o.jpg" width="100px" height="100px">       <a href="https://www.google.com/maps/place/610+E+Sarnia+St+Winona,+MN+55987" target="_blank">Map</a>
    4                  Cha Chis           13     4.0  <img src="https://s3-media3.fl.yelpcdn.com/bphoto/xZ3N7OnViWM3N99yRWX2SA/o.jpg" width="100px" height="100px">          <a href="https://www.google.com/maps/place/155+E+3rd+St+Winona,+MN+55987" target="_blank">Map</a>
    5             Bub's Brewing           60     3.5  <img src="https://s3-media2.fl.yelpcdn.com/bphoto/nTZdfHlcWGLE_As6F1Lckg/o.jpg" width="100px" height="100px">           <a href="https://www.google.com/maps/place/65+E+4th+St+Winona,+MN+55987" target="_blank">Map</a>
    6   Winona Sandwich Company           37     3.5  <img src="https://s3-media4.fl.yelpcdn.com/bphoto/ntWfgRkiOW5ZomQ1e9WzQA/o.jpg" width="100px" height="100px">           <a href="https://www.google.com/maps/place/619+Huff+St+Winona,+MN+55987" target="_blank">Map</a>
    7   The Grill at Signatures           12     3.5  <img src="https://s3-media4.fl.yelpcdn.com/bphoto/sBuQQsov3ErlCKOc0xcN1A/o.jpg" width="100px" height="100px">  <a href="https://www.google.com/maps/place/22852+County+Road+17+Winona,+MN+55987" target="_blank">Map</a>
    8       Rocco's Pub & Pizza           11     3.5  <img src="https://s3-media1.fl.yelpcdn.com/bphoto/pjaUxDKFn4hxkNhCxwKwBA/o.jpg" width="100px" height="100px">         <a href="https://www.google.com/maps/place/5242+W+6th+St+Winona,+MN+55987" target="_blank">Map</a>
    9  Winona Family Restaurant           25     3.0  <img src="https://s3-media4.fl.yelpcdn.com/bphoto/lxYd9Z-HtWlfRX9UqlUl-w/o.jpg" width="100px" height="100px">       <a href="https://www.google.com/maps/place/1611+Service+Dr+Winona,+MN+55987" target="_blank">Map</a>
   10  Wellington's Pub & Grill           17     3.0  <img src="https://s3-media2.fl.yelpcdn.com/bphoto/-WHeuR45tzAWs11YwdAjQw/o.jpg" width="100px" height="100px">     <a href="https://www.google.com/maps/place/1429+W+Service+Dr+Winona,+MN+55987" target="_blank">Map</a>

Next, this dataframe will be converted into an HTML table.

In [46]:
Winona_HTMLFile = WinonaList_WithLocation_OnlyWinona_PicMap.to_html(index=False)

Looking the output returned from conversion.

In [47]:
Winona_HTMLFile

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>rank</th>\n      <th>name</th>\n      <th>review_count</th>\n      <th>rating</th>\n      <th>pic</th>\n      <th>mapurl</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>1</td>\n      <td>Beno\'s Deli</td>\n      <td>20</td>\n      <td>4.5</td>\n      <td>&lt;img src="https://s3-media1.fl.yelpcdn.com/bphoto/snAzXC5xLgybMzV8NxGqyw/o.jpg" width="100px" height="100px"&gt;</td>\n      <td>&lt;a href="https://www.google.com/maps/place/78+E+4th+St+Winona,+MN+55987" target="_blank"&gt;Map&lt;/a&gt;</td>\n    </tr>\n    <tr>\n      <td>2</td>\n      <td>The Acoustic Cafe</td>\n      <td>73</td>\n      <td>4.0</td>\n      <td>&lt;img src="https://s3-media1.fl.yelpcdn.com/bphoto/0yG-DARmJJGYlUK8pgBnHw/o.jpg" width="100px" height="100px"&gt;</td>\n      <td>&lt;a href="https://www.google.com/maps/place/77+Lafayette+Winona,+MN+55987" target="_blank"&gt;Map&lt;/a&gt;</td>\n    </tr>\n    <tr>\n      <td>3</td>\n      <td>Lakeview Drive Inn</td>\n      <td>40</td>\n      <td>4.0</td>\n      <td>&lt;img src="https://s3-media2.fl.yelpcdn.com/bphoto/PrdhUUSXIQnrHHhH-uxUHQ/o.jpg" width="100px" height="100px"&gt;</td>\n      <td>&lt;a href="https://www.google.com/maps/place/610+E+Sarnia+St+Winona,+MN+55987" target="_blank"&gt;Map&lt;/a&gt;</td>\n    </tr>\n    <tr>\n      <td>4</td>\n      <td>Cha Chis</td>\n      <td>13</td>\n      <td>4.0</td>\n      <td>&lt;img src="https://s3-media3.fl.yelpcdn.com/bphoto/xZ3N7OnViWM3N99yRWX2SA/o.jpg" width="100px" height="100px"&gt;</td>\n      <td>&lt;a href="https://www.google.com/maps/place/155+E+3rd+St+Winona,+MN+55987" target="_blank"&gt;Map&lt;/a&gt;</td>\n    </tr>\n    <tr>\n      <td>5</td>\n      <td>Bub\'s Brewing</td>\n      <td>60</td>\n      <td>3.5</td>\n      <td>&lt;img src="https://s3-media2.fl.yelpcdn.com/bphoto/nTZdfHlcWGLE_As6F1Lckg/o.jpg" width="100px" height="100px"&gt;</td>\n      <td>&lt;a href="https://www.google.com/maps/place/65+E+4th+St+Winona,+MN+55987" target="_blank"&gt;Map&lt;/a&gt;</td>\n    </tr>\n    <tr>\n      <td>6</td>\n      <td>Winona Sandwich Company</td>\n      <td>37</td>\n      <td>3.5</td>\n      <td>&lt;img src="https://s3-media4.fl.yelpcdn.com/bphoto/ntWfgRkiOW5ZomQ1e9WzQA/o.jpg" width="100px" height="100px"&gt;</td>\n      <td>&lt;a href="https://www.google.com/maps/place/619+Huff+St+Winona,+MN+55987" target="_blank"&gt;Map&lt;/a&gt;</td>\n    </tr>\n    <tr>\n      <td>7</td>\n      <td>The Grill at Signatures</td>\n      <td>12</td>\n      <td>3.5</td>\n      <td>&lt;img src="https://s3-media4.fl.yelpcdn.com/bphoto/sBuQQsov3ErlCKOc0xcN1A/o.jpg" width="100px" height="100px"&gt;</td>\n      <td>&lt;a href="https://www.google.com/maps/place/22852+County+Road+17+Winona,+MN+55987" target="_blank"&gt;Map&lt;/a&gt;</td>\n    </tr>\n    <tr>\n      <td>8</td>\n      <td>Rocco\'s Pub &amp; Pizza</td>\n      <td>11</td>\n      <td>3.5</td>\n      <td>&lt;img src="https://s3-media1.fl.yelpcdn.com/bphoto/pjaUxDKFn4hxkNhCxwKwBA/o.jpg" width="100px" height="100px"&gt;</td>\n      <td>&lt;a href="https://www.google.com/maps/place/5242+W+6th+St+Winona,+MN+55987" target="_blank"&gt;Map&lt;/a&gt;</td>\n    </tr>\n    <tr>\n      <td>9</td>\n      <td>Winona Family Restaurant</td>\n      <td>25</td>\n      <td>3.0</td>\n      <td>&lt;img src="https://s3-media4.fl.yelpcdn.com/bphoto/lxYd9Z-HtWlfRX9UqlUl-w/o.jpg" width="100px" height="100px"&gt;</td>\n      <td>&lt;a href="https://www.google.com/maps/place/1611+Service+Dr+Winona,+MN+55987" target="_blank"&gt;Map&lt;/a&gt;</td>\n    </tr>\n    <tr>\n      <td>10</td>\n      <td>Wellington\'s Pub &amp; Grill</td>\n      <td>17</td>\n      <td>3.0</td>\n      <td>&lt;img src="https://s3-media2.fl.yelpcdn.com/bphoto/-WHeuR45tzAWs11YwdAjQw/o.jpg" width="100px" height="100px"&gt;</td>\n      <td>&lt;a href="https://www.google.com/maps/place/1429+W+Service+Dr+Winona,+MN+55987" target="_blank"&gt;Map&lt;/a&gt;</td>\n    </tr>\n  </tbody>\n</table>'

Instead of pushing the HTML converted table to the screen, let's push this contents into a HTML file.

In [48]:
text_file = open("sample_data/index.html", "w")
text_file.write(WinonaList_WithLocation_OnlyWinona_PicMap.to_html(index=False))
text_file.close()

Adding <strong>\<html\><strong> to beginning of file.

In [ ]:
!sed -i '1i \<html>\' /content/sample_data/index.html

Next, adding <strong>\<body\></strong> on the 2nd line.

In [ ]:
!sed -i '2i \<body>\' /content/sample_data/index.html

Next, need to put \<\body\> and \<\html\> tags at end of HTML file.

In [49]:
!sed -i '$ a </body>' /content/sample_data/index.html
!sed -i '$ a </html>' /content/sample_data/index.html

Clean up some issues with the HTML conversion...

In [50]:
!sed -i 's/&lt;/</g' /content/sample_data/index.html

Similarly for end tags...

In [51]:
!sed -i 's/&gt;/>/g' /content/sample_data/index.html

Next, center align the contents of the header row.

In [52]:
!sed -i 's/text-align: right;/text-align: center;/' /content/sample_data/index.html

Making the table headers slighly larger and removing pic and mapurl names all together.

In [54]:
!sed -i 's/rank/<font size="+1"\>Rank<\/font>/' /content/sample_data/index.html
!sed -i 's/name/<font size="+1"\>Restaurant<br>Name<\/font>/' /content/sample_data/index.html
!sed -i 's/review_count/<font size="+1"\># of <br>Reviews<\/font>/' /content/sample_data/index.html
!sed -i 's/rating/<font size="+1"\>Rating<\/font>/' /content/sample_data/index.html
!sed -i 's/pic/<font size="+1"\>\&nbsp;<\/font>/' /content/sample_data/index.html
!sed -i 's/mapurl/<font size="+1"\>\&nbsp;<\/font>/' /content/sample_data/index.html

Next, specify that the contents of the table be centered...

In [ ]:
!sed -i 's/<tbody>/<tbody style="text-align: center;">/' /content/sample_data/index.html

Taking a look at a final version of this file...

In [55]:
!cat /content/sample_data/index.html

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th><font size="+1">Rank</font></th>
      <th><font size="+1">Restaurant<br>Name</font></th>
      <th><font size="+1"># of <br>Reviews</font></th>
      <th><font size="+1">Rating</font></th>
      <th><font size="+1">&nbsp;</font></th>
      <th><font size="+1">&nbsp;</font></th>
    </tr>
  </thead>
  <tbody style="text-align: center;">
    <tr>
      <td>1</td>
      <td>Beno's Deli</td>
      <td>20</td>
      <td>4.5</td>
      <td><img src="https://s3-media1.fl.yelpcdn.com/bphoto/snAzXC5xLgybMzV8NxGqyw/o.jpg" width="100px" height="100px"></td>
      <td><a href="https://www.google.com/maps/place/78+E+4th+St+Winona,+MN+55987" target="_blank">Map</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>The Acoustic Cafe</td>
      <td>73</td>
      <td>4.0</td>
      <td><img src="https://s3-media1.fl.yelpcdn.com/bphoto/0yG-DARmJJGYlUK8pgBnHw/o.jpg" width="100px" height="100px"></td>
      <td><a href="https://www.google.com/maps/place/77+Lafayette+Winona,+MN+55987" target="_blank">Map</a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Lakeview Drive Inn</td>
      <td>40</td>
      <td>4.0</td>
      <td><img src="https://s3-media2.fl.yelpcdn.com/bphoto/PrdhUUSXIQnrHHhH-uxUHQ/o.jpg" width="100px" height="100px"></td>
      <td><a href="https://www.google.com/maps/place/610+E+Sarnia+St+Winona,+MN+55987" target="_blank">Map</a></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Cha Chis</td>
      <td>13</td>
      <td>4.0</td>
      <td><img src="https://s3-media3.fl.yelpcdn.com/bphoto/xZ3N7OnViWM3N99yRWX2SA/o.jpg" width="100px" height="100px"></td>
      <td><a href="https://www.google.com/maps/place/155+E+3rd+St+Winona,+MN+55987" target="_blank">Map</a></td>
    </tr>
    <tr>
      <td>5</td>
      <td>Bub's Brewing</td>
      <td>60</td>
      <td>3.5</td>
      <td><img src="https://s3-media2.fl.yelpcdn.com/bphoto/nTZdfHlcWGLE_As6F1Lckg/o.jpg" width="100px" height="100px"></td>
      <td><a href="https://www.google.com/maps/place/65+E+4th+St+Winona,+MN+55987" target="_blank">Map</a></td>
    </tr>
    <tr>
      <td>6</td>
      <td>Winona Sandwich Company</td>
      <td>37</td>
      <td>3.5</td>
      <td><img src="https://s3-media4.fl.yelpcdn.com/bphoto/ntWfgRkiOW5ZomQ1e9WzQA/o.jpg" width="100px" height="100px"></td>
      <td><a href="https://www.google.com/maps/place/619+Huff+St+Winona,+MN+55987" target="_blank">Map</a></td>
    </tr>
    <tr>
      <td>7</td>
      <td>The Grill at Signatures</td>
      <td>12</td>
      <td>3.5</td>
      <td><img src="https://s3-media4.fl.yelpcdn.com/bphoto/sBuQQsov3ErlCKOc0xcN1A/o.jpg" width="100px" height="100px"></td>
      <td><a href="https://www.google.com/maps/place/22852+County+Road+17+Winona,+MN+55987" target="_blank">Map</a></td>
    </tr>
    <tr>
      <td>8</td>
      <td>Rocco's Pub &amp; Pizza</td>
      <td>11</td>
      <td>3.5</td>
      <td><img src="https://s3-media1.fl.yelpcdn.com/bphoto/pjaUxDKFn4hxkNhCxwKwBA/o.jpg" width="100px" height="100px"></td>
      <td><a href="https://www.google.com/maps/place/5242+W+6th+St+Winona,+MN+55987" target="_blank">Map</a></td>
    </tr>
    <tr>
      <td>9</td>
      <td>Winona Family Restaurant</td>
      <td>25</td>
      <td>3.0</td>
      <td><img src="https://s3-media4.fl.yelpcdn.com/bphoto/lxYd9Z-HtWlfRX9UqlUl-w/o.jpg" width="100px" height="100px"></td>
      <td><a href="https://www.google.com/maps/place/1611+Service+Dr+Winona,+MN+55987" target="_blank">Map</a></td>
    </tr>
    <tr>
      <td>10</td>
      <td>Wellington's Pub &amp; Grill</td>
      <td>17</td>
      <td>3.0</td>
      <td><img src="https://s3-media2.fl.yelpcdn.com/bphoto/-WHeuR45tzAWs11YwdAjQw/o.jpg" width="100px" height="100px"></td>
      <td><a href="https://www.google.com/maps/place/1429+W+Service+Dr+Winona,+MN+55987" target="_blank">Map</a></td>
    </tr>
  </tbody>
</table>
</body>
</html>