<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/Module3_Part5R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3 | Part 5 R: Data Verb - JOIN()

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

### Example 3.5.R
For this notebook, we will consider a total of three datasets. 

*   MNSchools_ACT.csv - contains information on ACT Scores for MN schools
*   MNSchools_Information.csv - contains key information for MN schools
*   ACS2019_CensusData_SchoolLevel.csv - contains census information (American Community Survey) by school district for MN schools
 
<br>Data Sources: 
*   MNSchools_ACT: https://public.education.mn.gov/MDEAnalytics/DataTopic.jsp?TOPICID=87
*   MNSchools_Information: https://public.education.mn.gov/MdeOrgView/search/tagged/MDEORG_DISTRICT_SCHOOL
*   ACS2019_CensusData_SchoolLevel:  https://gisdata.mn.gov/dataset/us-mn-state-metc-society-census-acs 

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

To begin, load the three data filesinto the sample_data directory.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1fB9VLraWPuHbcH5tajI6Erj6NS2FCDmo"></p>

To begin, the <strong>tidyverse</strong> package will be used throughout this notebook; thus, load this package.

In [2]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.0     ✔ dplyr   1.0.5
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Preparing the ACT File

To being, read in the MNSchools_ACT data file without specification of the data types.

In [7]:
MN_ACT<-read_csv('/content/sample_data/MNSchools_ACT.csv')

── Column specification ────────────────────────────────────────────────────────
cols(
  ACTID = col_double(),
  DistrictName = col_character(),
  SchoolName = col_character(),
  Year = col_double(),
  NumberTookACT = col_double(),
  English = col_double(),
  Math = col_double(),
  Reading = col_double(),
  Science = col_double(),
  Score = col_double()
)

Check the strucuture of the dataframe -- including the data types for each variable.

In [4]:
#Using str() to investigate the structure of this dataframe.
 str(MN_ACT)

spec_tbl_df [3,860 × 10] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ ACTID        : num [1:3860] 247550 247550 247550 247550 247550 ...
 $ DistrictName : chr [1:3860] "ADA-BORUP SCHOOL DISTRICT 2854" "ADA-BORUP SCHOOL DISTRICT 2854" "ADA-BORUP SCHOOL DISTRICT 2854" "ADA-BORUP SCHOOL DISTRICT 2854" ...
 $ SchoolName   : chr [1:3860] "ADA-BORUP HIGH SCHOOL" "ADA-BORUP HIGH SCHOOL" "ADA-BORUP HIGH SCHOOL" "ADA-BORUP HIGH SCHOOL" ...
 $ Year         : num [1:3860] 2015 2016 2017 2018 2019 ...
 $ NumberTookACT: num [1:3860] 28 40 24 27 28 0 0 0 7 1 ...
 $ English      : num [1:3860] 21.1 20.6 20.3 21.3 22.1 NA NA NA NA NA ...
 $ Math         : num [1:3860] 21.2 20.6 20 21.3 20.9 NA NA NA NA NA ...
 $ Reading      : num [1:3860] 22.5 21.6 22.3 22.3 22.6 NA NA NA NA NA ...
 $ Science      : num [1:3860] 21.9 21.4 21.8 20.4 22.6 NA NA NA NA NA ...
 $ Score        : num [1:3860] 21.9 21.2 21.2 21.4 22.1 NA NA NA NA NA ...
 - attr(*, "spec")=
  .. cols(
  ..   ACTID = col_double(),
  ..   DistrictName = col_character(),
  ..   SchoolName = col_character(),
  ..   Year = col_double(),
  ..   NumberTookACT = col_double(),
  ..   English = col_double(),
  ..   Math = col_double(),
  ..   Reading = col_double(),
  ..   Science = col_double(),
  ..   Score = col_double()
  .. )

<strong>Comments</strong>:

*    ACTID will be used as a <strong>key</strong> variable for upcoming JOINs. For these data files it will be best to have ACTID specifed as a string (i.e. character type).
*    Year will be specifed as character as well as it simply indicates one of five levels in this dataframe.

The following modification can be made to the read_csv() function to allow for specification of particular data type for a variable.

<p align="center">
<font size="+2">
read_csv( <i>file</i>, col_types = cols( <i>variable name</i> = <i>data type</i>) )
</font>
</p>

The following is a list of possible specificiations for variables that are avaiable when using read_csv from the tidyverse / readr package.
<p align='center'><img src="https://drive.google.com/uc?export=view&id=1QVOuCBYd5rnWUQF0Jf92A2jCWvU4Wu3k"></p>

Read in the MNSchools_ACT data file with column specifications for ACTID and Year.

*    ACTID specify as character (i.e. string)
*    Year specifiy as character (i.e. string)

In [56]:
#Read in MNSchools_ACT with data type specification for ACTID and Year
MN_ACT<-read_csv('/content/sample_data/MNSchools_ACT.csv', col_types = cols(ACTID = col_character(), Year = col_character()))

Quick check to make sure the specifications were successful.

In [6]:
#Using str() to investigate the structure of this dataframe.
 str(MN_ACT)

spec_tbl_df [3,860 × 10] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ ACTID        : chr [1:3860] "247550" "247550" "247550" "247550" ...
 $ DistrictName : chr [1:3860] "ADA-BORUP SCHOOL DISTRICT 2854" "ADA-BORUP SCHOOL DISTRICT 2854" "ADA-BORUP SCHOOL DISTRICT 2854" "ADA-BORUP SCHOOL DISTRICT 2854" ...
 $ SchoolName   : chr [1:3860] "ADA-BORUP HIGH SCHOOL" "ADA-BORUP HIGH SCHOOL" "ADA-BORUP HIGH SCHOOL" "ADA-BORUP HIGH SCHOOL" ...
 $ Year         : chr [1:3860] "2015" "2016" "2017" "2018" ...
 $ NumberTookACT: num [1:3860] 28 40 24 27 28 0 0 0 7 1 ...
 $ English      : num [1:3860] 21.1 20.6 20.3 21.3 22.1 NA NA NA NA NA ...
 $ Math         : num [1:3860] 21.2 20.6 20 21.3 20.9 NA NA NA NA NA ...
 $ Reading      : num [1:3860] 22.5 21.6 22.3 22.3 22.6 NA NA NA NA NA ...
 $ Science      : num [1:3860] 21.9 21.4 21.8 20.4 22.6 NA NA NA NA NA ...
 $ Score        : num [1:3860] 21.9 21.2 21.2 21.4 22.1 NA NA NA NA NA ...
 - attr(*, "spec")=
  .. cols(
  ..   ACTID = col_character(),
  ..   DistrictName = col_character(),
  ..   SchoolName = col_character(),
  ..   Year = col_character(),
  ..   NumberTookACT = col_double(),
  ..   English = col_double(),
  ..   Math = col_double(),
  ..   Reading = col_double(),
  ..   Science = col_double(),
  ..   Score = col_double()
  .. )

Taking a look at the first few rows of the dataframe.

In [11]:
#Looking at first fews rows of data
dim(MN_ACT)
head(MN_ACT)

[1] 3860   10

  ACTID  DistrictName                   SchoolName            Year
1 247550 ADA-BORUP SCHOOL DISTRICT 2854 ADA-BORUP HIGH SCHOOL 2015
2 247550 ADA-BORUP SCHOOL DISTRICT 2854 ADA-BORUP HIGH SCHOOL 2016
3 247550 ADA-BORUP SCHOOL DISTRICT 2854 ADA-BORUP HIGH SCHOOL 2017
4 247550 ADA-BORUP SCHOOL DISTRICT 2854 ADA-BORUP HIGH SCHOOL 2018
5 247550 ADA-BORUP SCHOOL DISTRICT 2854 ADA-BORUP HIGH SCHOOL 2019
6 247180 ROSEMOUNT-APPLE VLY-EAGAN 196  DAKOTA RIDGE SCHOOL   2015
  NumberTookACT English Math Reading Science Score
1 28            21.1    21.2 22.5    21.9    21.9
2 40            20.6    20.6 21.6    21.4    21.2
3 24            20.3    20.0 22.3    21.8    21.2
4 27            21.3    21.3 22.3    20.4    21.4
5 28            22.1    20.9 22.6    22.6    22.1
6  0              NA      NA   NA      NA      NA

Data Task #1:

*    Use only the most recent ACT Scores, i.e. Year == "2019"
*    Ignore any schools that do not have ACT scores included (schools must have 10 or more students take ACT to have their ACT scores included).
*    Additional rows are included under the name "All Schools" these rows should not be included.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=1hRwVeJYEKcp6BtGvVmgSQko0dH04VVmE"></p>

Getting the desired data.  Keep only the following columns in this table -- ACTID, SchoolName, Year, NumberTookACT, and Score.

In [59]:
#Getting desired data
(
  MN_ACT
  %>% filter(Year == "2019")
  %>% filter(SchoolName != "All Schools")
  %>% drop_na() 
  %>% select(ACTID, SchoolName, Year, NumberTookACT, Score)
 ) -> MN_ACT_2019

 dim(MN_ACT_2019)
 head(MN_ACT_2019)

[1] 387   5

  ACTID  SchoolName                    Year NumberTookACT Score
1 247550 ADA-BORUP HIGH SCHOOL         2019  28           22.1
2 247524 SOUTHLAND SENIOR HIGH SCHOOL  2019  36           19.1
3 247544 ADRIAN HIGH SCHOOL            2019  49           20.4
4 247002 AITKIN HIGH SCHOOL            2019  78           19.6
5 247788 ALBANY AREA HIGH SCHOOL       2019 107           21.1
6 247246 ALBERT LEA SENIOR HIGH SCHOOL 2019 192           19.1

###  Preparing the MN School Information Data

To begin, lets read in the MNSChools_Information data file with the default data types.

In [17]:
MN_SchoolInfo <- read_csv('/content/sample_data/MNSchools_Information.csv')

── Column specification ────────────────────────────────────────────────────────
cols(
  DistrictNumber = col_double(),
  DistrictType = col_double(),
  SchoolNumber = col_double(),
  MNSchoolID = col_character(),
  SchoolName = col_character(),
  Address = col_character(),
  City = col_character(),
  State = col_character(),
  Zipcode = col_character(),
  County = col_character(),
  Grades = col_character(),
  NCESID = col_double(),
  StateOrganizationId = col_double(),
  ACTID = col_double()
)

In this data file there are various fields that will be used as <strong>key</strong> fields.  Upcoming JOINs will be accomplished more easily if these are specifed as character (i.e. strings).

*   DistrictNumber + DistrictType + SchoolNumber combination can be used to uniquely identify a school in MN
*   NECSID is a nataional code that can be used to uniquely identify school districts
*   StateOrganizationID is a secondary key that can be used to uniquely identify schools in MN
*   ACTID is an code used to uniquely identify schools in regards to their ACT Scores.

In [20]:
#Read in the MNSchool_Information data file and specify ALL fields as character (i.e. strings)
MN_SchoolInfo <- read_csv('/content/sample_data/MNSchools_Information.csv', col_types = cols(.default = "c"))

Taking a quick look to ensure all variables are indeed characters (i.e. strings).

In [19]:
#Looking at the structure of this dataframe
str(MN_SchoolInfo)

spec_tbl_df [3,924 × 14] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ DistrictNumber     : chr [1:3924] "1" "1" "1" "1" ...
 $ DistrictType       : chr [1:3924] "1" "1" "1" "1" ...
 $ SchoolNumber       : chr [1:3924] "0" "1" "2" "6" ...
 $ MNSchoolID         : chr [1:3924] "0001-01" "0001-01-001" "0001-01-002" "0001-01-006" ...
 $ SchoolName         : chr [1:3924] "Aitkin Public School District" "Aitkin Secondary School" "Rippleside Elementary" "Aitkin Alternative Learning Program" ...
 $ Address            : chr [1:3924] "306 2nd St NW" "306 2nd St NW" "225 2nd Ave SW" "12 7th St NW" ...
 $ City               : chr [1:3924] "Aitkin" "Aitkin" "Aitkin" "Aitkin" ...
 $ State              : chr [1:3924] "MN" "MN" "MN" "MN" ...
 $ Zipcode            : chr [1:3924] "56431-1289" "56431" "56431" "56431" ...
 $ County             : chr [1:3924] "Aitkin County, MN" "Aitkin County, MN" "Aitkin County, MN" "Aitkin County, MN" ...
 $ Grades             : chr [1:3924] NA "7-12" "EC-6" "7-12" ...
 $ NCESID             : chr [1:3924] "2702760" "270276000057" "270276000059" "270276002789" ...
 $ StateOrganizationId: chr [1:3924] "10001000000" "10001001000" "10001002000" "10001006000" ...
 $ ACTID              : chr [1:3924] "247002" "240020" NA NA ...
 - attr(*, "spec")=
  .. cols(
  ..   .default = col_character(),
  ..   DistrictNumber = col_character(),
  ..   DistrictType = col_character(),
  ..   SchoolNumber = col_character(),
  ..   MNSchoolID = col_character(),
  ..   SchoolName = col_character(),
  ..   Address = col_character(),
  ..   City = col_character(),
  ..   State = col_character(),
  ..   Zipcode = col_character(),
  ..   County = col_character(),
  ..   Grades = col_character(),
  ..   NCESID = col_character(),
  ..   StateOrganizationId = col_character(),
  ..   ACTID = col_character()
  .. )

Taking a quick look at this data.

In [ ]:
#Getting the dimension and looking at a few rows
dim(MN_SchoolInfo)
head(MN_SchoolInfo, 25)

Data Task #2:

*   The MN_SchoolInfo dataframe as information for all schools -- only include schools that have an ACTID (i.e. high schools).
*   In addition to each school, each school <i>district</i> as a different and unique ACTID.  The goal is to compare at the school level (not at the district leve); thus, filter out district information (i.e. filter out rows for which SchoolType == "0").

In [46]:
#Getting desired data
(
  MN_SchoolInfo
  %>% drop_na(ACTID) 
  #%>% filter(SchoolNumber != "0")
  %>% select(DistrictNumber, DistrictType, SchoolNumber, MNSchoolID, SchoolName, NCESID, ACTID)
 ) -> MN_SchoolInfo_ACTJoin

 dim(MN_SchoolInfo_ACTJoin)
 head(MN_SchoolInfo_ACTJoin, 20)

[1] 984   7

   DistrictNumber DistrictType SchoolNumber MNSchoolID
1  1              1            0            0001-01
2  1              1            1            0001-01-001
3  2              1            0            0002-01
4  2              1            3            0002-01-003
5  4              1            0            0004-01
6  4              1            40           0004-01-040
7  11             1            0            0011-01
8  11             1            1            0011-01-001
9  11             1            2            0011-01-002
10 11             1            91           0011-01-091
11 11             1            94           0011-01-094
12 11             1            110          0011-01-110
13 11             1            192          0011-01-192
14 11             1            438          0011-01-438
15 11             1            467          0011-01-467
16 11             1            680          0011-01-680
17 12             1            0            0012-01
18 12             1            164          0012-01-164
19 12             1            167          0012-01-167
20 12             1            169          0012-01-169
   SchoolName                              NCESID       ACTID
1  Aitkin Public School District           2702760      247002
2  Aitkin Secondary School                 270276000057 240020
3  Hill City Public School District        2714010      247004
4  Hill City Senior High                   271401000724 241105
5  McGregor Public School District         2719170      247006
6  McGregor Secondary                      271917000904 241530
7  Anoka-Hennepin Public School District   2703180      247008
8  Anoka High School                       270318000096 240080
9  Coon Rapids High School                 270318000100 240537
10 Blaine High School                      270318000097 240256
11 Andover High School                     270318003170 240070
12 Anoka-Hennepin Regional High School     270318002029 240534
13 Champlin Park High School               270318000021 240419
14 Anoka-Hennepin Specialty Program        270318002503 972770
15 River Trail Learning Center at LO Jacob 270318000005 972487
16 Compass On-Line                         270318003665 972771
17 Centennial Public School District       2708100      247010
18 Centennial High School                  270810000334 240452
19 Centennial Area Learning Center         270810002753 973754
20 Centennial Extended School Year         2708100      974981

Data Task #3

*    The next thing that must be done is to reduce the NCESID field down to the <i>seven leftmost characters</i>.  The full NCESID field in this data file contains information down to the school level.  However, the census data only includes information down at the district level.



<p align='center'><img src="https://drive.google.com/uc?export=view&id=1KidNIOJ4O1GbJWdVWfBGsCGbpeLuo1Ye"></p>

In [47]:
#Getting an updated NCESID for the JOIN with census data
(
  MN_SchoolInfo_ACTJoin
  %>% mutate(NCESID_ACT = str_sub(NCESID, 1,7) )
  %>% select(ACTID, NCESID_ACT)
) -> MN_SchoolInfo_ACTJoin

 dim(MN_SchoolInfo_ACTJoin)
 head(MN_SchoolInfo_ACTJoin)

[1] 984   2

  ACTID  NCESID_ACT
1 247002 2702760
2 240020 2702760
3 247004 2714010
4 241105 2714010
5 247006 2719170
6 241530 2719170

### JOIN -- Put the NCESID into ACT data

In [60]:
#Complete the JOIN
(
   MN_ACT_2019
   %>% left_join(MN_SchoolInfo_ACTJoin, by="ACTID")
   %>% rename(NCESID = NCESID_ACT)
) -> MN_ACT_2019

 dim(MN_ACT_2019)
 head(MN_ACT_2019)

[1] 406   6

  ACTID  SchoolName                    Year NumberTookACT Score NCESID
1 247550 ADA-BORUP HIGH SCHOOL         2019  28           22.1  2700126
2 247524 SOUTHLAND SENIOR HIGH SCHOOL  2019  36           19.1  2702720
3 247544 ADRIAN HIGH SCHOOL            2019  49           20.4  2702730
4 247002 AITKIN HIGH SCHOOL            2019  78           19.6  2702760
5 247788 ALBANY AREA HIGH SCHOOL       2019 107           21.1  2702930
6 247246 ALBERT LEA SENIOR HIGH SCHOOL 2019 192           19.1  2702970

In [50]:
#Read in the MNSchool_Information data file and specify ALL fields as character (i.e. strings)
Census_MNSchools <- read_csv('/content/sample_data/ACS2019_CensusData_SchoolLevel.csv', col_types = cols(NCESID = col_character()))

In [ ]:
str(Census_MNSchools)

### JOIN  - Get Census data, e.g. Percent Poverty

In [62]:
#Complete the JOIN
(
   MN_ACT_2019
   %>% left_join(Census_MNSchools, by="NCESID")
) -> MN_ACT_Census

dim(MN_ACT_Census)
head(MN_ACT_Census)

[1] 406  27

  ACTID  SchoolName                    Year.x NumberTookACT Score NCESID
1 247550 ADA-BORUP HIGH SCHOOL         2019    28           22.1  2700126
2 247524 SOUTHLAND SENIOR HIGH SCHOOL  2019    36           19.1  2702720
3 247544 ADRIAN HIGH SCHOOL            2019    49           20.4  2702730
4 247002 AITKIN HIGH SCHOOL            2019    78           19.6  2702760
5 247788 ALBANY AREA HIGH SCHOOL       2019   107           21.1  2702930
6 247246 ALBERT LEA SENIOR HIGH SCHOOL 2019   192           19.1  2702970
  GeographicUnit SchoolDistrictName                          Source
1 SCHLDIST       Ada-Borup Public School District Minnesota  ACS 2015-2019
2 SCHLDIST       Southland Public School District Minnesota  ACS 2015-2019
3 SCHLDIST       Adrian Public School District Minnesota     ACS 2015-2019
4 SCHLDIST       Aitkin Public School District Minnesota     ACS 2015-2019
5 SCHLDIST       Albany Public School District Minnesota     ACS 2015-2019
6 SCHLDIST       Albert Lea Public School District Minnesota ACS 2015-2019
  Year.y ⋯ Hispanic NonHispanic LessThanHS BachelorsOrMore NumberEmployed
1 2019   ⋯  185      2388         84        372             1182
2 2019   ⋯   91      3393        162        507             1794
3 2019   ⋯  152      2201         97        254             1183
4 2019   ⋯  142      9276        589       1488             3651
5 2019   ⋯   92      9418        535       1408             5038
6 2019   ⋯ 2749     20451       2120       2774            10928
  CommuteTime IncomePerCapita MedianHouseholdIncome PovertyPct HomeownerPct
1 17.39       31435           58185                 0.074      0.778
2 22.98       32366           67383                 0.070      0.868
3 19.24       32431           61205                 0.080      0.823
4 25.22       29185           50395                 0.111      0.818
5 24.82       32630           76725                 0.051      0.854
6 17.71       27737           50433                 0.122      0.738